workflows/http/http.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T09:07:34.771Z",
  "id": "zXRmMDTB1x9GHlVZ",
  "isArchived": false,
  "meta": null,
  "name": "http",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.myUrls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        432
      ],
      "id": "ec45e37e-f145-4d76-be37-13e203ad598e",
      "name": "HTTP Request",
      "retryOnFail": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 手动填写 URL 列表\nconst myUrls = [\n  \"https://docs.n8n.io/hosting/\",\n  \"https://example.com/page2\",\n  \"https://docs.n8n.io/code/\"\n];\n\n// 返回一个 item，其中包含变量名 myUrls\nreturn [\n  {\n    json: {\n      myUrls: myUrls\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        400
      ],
      "id": "bb29f06f-fef4-4a34-9b5a-553269f842d3",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "myUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        400
      ],
      "id": "c84fef4a-9d84-47f4-9385-c42594a6c42e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        400
      ],
      "id": "803d9887-7ca9-4c0c-ab36-0f9c4b4fb83e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        432
      ],
      "id": "d9077115-4c2b-499c-be0f-8aedd2937abb",
      "name": "Wait",
      "webhookId": "e269c5d0-df55-49e5-a5b0-fa6371e2a05b"
    },
    {
      "parameters": {
        "content": "## Http 请求\n",
        "height": 940,
        "width": 1580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        16
      ],
      "typeVersion": 1,
      "id": "2db806cf-8e09-45c0-ba1b-903e23a9050d",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "ab7e3daf-f351-4453-9103-85e6b8d30528",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "artificial+intelligence"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        160
      ],
      "id": "fea0bb06-e7f7-499b-b2f5-4e4cb85e0641",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        704
      ],
      "id": "40de55f4-2370-4465-83de-c67349f7387b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dizE2uMw2id5nXyguL486nJZlQ_exECH7-3yGEivVZ8",
          "mode": "list",
          "cachedResultName": "ocr-text",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dizE2uMw2id5nXyguL486nJZlQ_exECH7-3yGEivVZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dizE2uMw2id5nXyguL486nJZlQ_exECH7-3yGEivVZ8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidates",
              "displayName": "candidates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usageMetadata",
              "displayName": "usageMetadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelVersion",
              "displayName": "modelVersion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        704
      ],
      "id": "ee1696c2-d41d-4f19-824c-f506497666d1",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "56fa0dd0-c4ce-4a3a-b5e3-53e7469547e6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        704
      ],
      "id": "a2d500e8-d2e3-470d-8d17-1b01a82fdd0d",
      "name": "Webhook",
      "webhookId": "56fa0dd0-c4ce-4a3a-b5e3-53e7469547e6",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1008,
        704
      ],
      "id": "525c6741-9026-48bf-aaaa-8694cd0b894b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"请从图片中提取全部文本内容。严格按照图片中的原有格式和排版进行输出。输出中不得包含任何额外的说明文字、解释、前言、后语或图片中不存在的符号。只输出纯粹的提取结果。最后，将所有中文繁体字转换为中文简体字。最后分析结果中的数据，验证收费总额是否正确。\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 65536\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        704
      ],
      "id": "b0554713-0b61-4089-8be8-828cbf57abc3",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-16T09:07:30.752Z",
      "updatedAt": "2025-07-16T09:07:30.752Z",
      "id": "QrG9YEEVVS2JWbxs",
      "name": "http"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T09:33:31.482Z",
  "versionId": "a05557de-01f4-4059-bf11-ac277601a315"
}