workflows/YT 教學/单人视频工作流-生成配音.json
{
  "active": false,
  "connections": {
    "配置字段": {
      "main": [
        [
          {
            "node": "音色列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "配置字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "音色列表": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "获取音频时长1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取音频时长1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T10:00:04.973Z",
  "id": "bwnfzf0R0UMtmrYa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "单人视频工作流-生成配音",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "565c1e1b-70c2-403d-a35f-4f43cfd2c0ae",
              "name": "voice_script",
              "value": "={{ $json.voice_script }}",
              "type": "object"
            },
            {
              "id": "e0b8e9bb-3a9b-41fb-bf9b-f29ab48c8921",
              "name": "output_folder_path",
              "value": "={{ $json.output_folder_path }}",
              "type": "string"
            },
            {
              "id": "0f40e198-e8d1-4808-8675-f76e9b28b98e",
              "name": "voice_example_folder_path",
              "value": "={{ $json.voice_example_folder_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        64
      ],
      "id": "a10b737d-82cf-4d0e-bb5c-2cd78c4bf835",
      "name": "配置字段"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "voice_script",
              "type": "object"
            },
            {
              "name": "output_folder_path"
            },
            {
              "name": "voice_example_folder_path"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        64
      ],
      "id": "3bbe85ef-03d5-4c99-9d25-edf579f8a0a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de858876-b71d-4290-8aa1-5ac20bbd84a2",
              "name": "=voice_script",
              "value": "={\"characters_timbre\": [{\"timbre_name\": \"旁白\", \"timbre_des\": \"温暖富有故事感的成年女性声音，语速平缓，带有淡淡的诗意和引导性，能够营造温馨的童话氛围\", \"timbre_id\": 0},{\"timbre_name\": \"小女孩\", \"timbre_des\": \"清脆、甜美、充满活力的6岁女孩声音，音调较高但不过分尖锐，语气中带着好奇、兴奋和纯真，偶尔有可爱的童音起伏\", \"timbre_id\": 1}], \"voice_scripts\": [{\"text\": \"在一个阳光明媚的早晨，小女孩第一次踏入这个神奇的花园\", \"timbre_id\": 0, \"start_time\": 500, \"end_time\": 3500},{\"text\": \"哇！好漂亮的花园呀！\", \"timbre_id\": 1, \"start_time\": 4500, \"end_time\": 6000},{\"text\": \"她发现了一朵特别的向日葵，上面停着一只美丽的蝴蝶\", \"timbre_id\": 0, \"start_time\": 6500, \"end_time\": 8500},{\"text\": \"小蝴蝶，你好可爱呀\", \"timbre_id\": 1, \"start_time\": 9000, \"end_time\": 9500}]}",
              "type": "object"
            },
            {
              "id": "ead201e7-5554-4604-8cfb-27d33c6f6e40",
              "name": "output_folder_path",
              "value": "/root/n8n/custom_output/",
              "type": "string"
            },
            {
              "id": "ef914d94-3a55-442c-ad8b-477e1dac00c8",
              "name": "voice_example_folder_path",
              "value": "/root/n8n/input/voice/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -160
      ],
      "id": "44633abf-5737-40a6-a0d0-0a8dff0ddf4f",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -160
      ],
      "id": "f77d82b8-e614-4c38-9928-80d180e746c2",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timbre_list\":[\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}活力女声.flac\",\n        \"voice_description\": \"有活力的青年女性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}不羁男声.flac\",\n        \"voice_description\": \"潇洒不羁的青年男性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}沉稳男声.flac\",\n        \"voice_description\": \"沉稳可靠的青年男性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}成熟女声.flac\",\n        \"voice_description\": \"成熟稳重的中年女性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}聪明儿童男声.flac\",\n        \"voice_description\": \"聪明的男孩声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}淡雅女声.flac\",\n        \"voice_description\": \"淡雅坚定的青年女性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}搞笑大爷.flac\",\n        \"voice_description\": \"搞笑的中年男性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}可爱儿童男声.flac\",\n        \"voice_description\": \"可爱的男孩声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}可爱儿童女声.flac\",\n        \"voice_description\": \"可爱的女孩声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}老年女声.flac\",\n        \"voice_description\": \"老年女性的声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}少年男声.flac\",\n        \"voice_description\": \"少年男性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}甜美女声.flac\",\n        \"voice_description\": \"甜美的青年女性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}温暖少女.flac\",\n        \"voice_description\": \"温暖的少年女性声音\"\n    },\n    {\n        \"voice_id\": \"{{ $json.voice_example_folder_path }}温润男声.flac\",\n        \"voice_description\": \"温暖的青年男性声音\"\n    },\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        64
      ],
      "id": "fc230b72-13db-44bf-984d-c62ae4f2a681",
      "name": "音色列表"
    },
    {
      "parameters": {
        "fieldToSplitOut": "voice_timbre_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1104,
        64
      ],
      "id": "d82cb1ad-df00-479d-8d3f-79cbad0281bf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        64
      ],
      "id": "7866ee2c-25cc-484f-89d6-2873b161232d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位角色配音挑选专家，你的任务是根据我给出的'音色列表'和'角色描述'，为每个角色选择一个最匹配的音色，以json格式返回。\n- ** trimbre_id字段取值为'角色描述中的'中的trimbre_id值；\n- ** voice_id的取值逻辑为：根据'角色描述'中每个元素的timbre_des字段，和'音色列表'中的音色描述voice_description字段进行匹配，挑选最适合的音色，然后将'音色列表'中的voice_id作为voice_id **\n- ** 音色要和角色形象匹配，例如性别、年龄、特质等，如果实在找不到完全匹配的，可以使用近似的音色，一定要为每个角色找到一个音色 **\n- 数组中每个元素要和'角色描述'一一对应。\n\n以下是'角色描述'：\n{{ JSON.stringify($('配置字段').item.json.voice_script.characters_timbre) }}\n\n以下是'音色列表'：\n{{ JSON.stringify( $json.timbre_list ) }}\n\n你的返回数据格式示例为：\n{\n\"data\":[\n    {\n    \"voice_id\": \"\",\n    \"timbre_id\": 0\n    }\n  ]\n}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        496,
        64
      ],
      "id": "fec5e190-5c82-440e-b13d-95d4f13ac07a",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        464,
        304
      ],
      "id": "919a5629-bac6-47ba-863e-a9f1a184b827",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"data\":[\n    {\n    \"voice_id\": \"\",\n    \"timbre_id\": 0\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        672,
        304
      ],
      "id": "a3f0df41-c31f-47ea-9bea-ae5c3533e4c8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.voice_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1568,
        64
      ],
      "id": "e643fcb0-86d1-4c04-81af-eb660178d5e9",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n  \"1\": {\n    \"inputs\": {\n      \"top_k\": 30,\n      \"top_p\": 0.8,\n      \"temperature\": 0.8,\n      \"num_beams\": 3,\n      \"max_mel_tokens\": 1500,\n      \"max_text_tokens_per_sentence\": 120,\n      \"custom_cuda_kernel\": false,\n      \"deepspeed\": true,\n      \"unload_model\": true,\n      \"emo_alpha\": 1,\n      \"emo_vector\": \"\",\n      \"use_emo_text\": false,\n      \"emo_text\": \"\",\n      \"use_random\": false,\n      \"emo_alpha_s2\": 1.0000000000000002,\n      \"emo_vector_s2\": \"\",\n      \"use_emo_text_s2\": false,\n      \"emo_text_s2\": \"\",\n      \"use_random_s2\": false,\n      \"audio\": [\n        \"9\",\n        0\n      ],\n      \"text\": [\n        \"6\",\n        0\n      ]\n    },\n    \"class_type\": \"IndexTTS2Run\",\n    \"_meta\": {\n      \"title\": \"IndexTTS2 Run\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": \"{{ $('Loop Over Items1').item.json.text }}\"\n    },\n    \"class_type\": \"Text Multiline\",\n    \"_meta\": {\n      \"title\": \"Text Multiline\"\n    }\n  },\n  \"9\": {\n    \"inputs\": {\n      \"audio\": \"{{ $json.name }}\",\n      \"audioUI\": \"\"\n    },\n    \"class_type\": \"LoadAudio\",\n    \"_meta\": {\n      \"title\": \"加载音频\"\n    }\n  },\n  \"14\": {\n    \"inputs\": {\n      \"filename_prefix\": \"audio/ComfyUI\",\n      \"audioUI\": \"\",\n      \"audio\": [\n        \"1\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveAudio\",\n    \"_meta\": {\n      \"title\": \"保存音频\"\n    }\n  }\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        64
      ],
      "id": "bdad3c14-66c6-4b6b-9cd0-4b60bc44c1e6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8188/history/{{ $('HTTP Request').item.json.prompt_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        64
      ],
      "id": "de75b158-5352-4740-973e-970c9a2e7d70",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        64
      ],
      "id": "69015490-ced4-4bfa-85f8-ac255390e4cd",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2288,
        64
      ],
      "id": "e33ae13d-b089-43fe-af81-59290da5c12d",
      "name": "Wait2",
      "webhookId": "0a4675d5-4a1b-48af-82f0-49903aa5c606"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95b5670e-5019-45a7-b701-08a608311038",
              "leftValue": "={{ $json.values()[0].status.status_str }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2736,
        64
      ],
      "id": "9fb01fe8-b213-4a00-a9ca-610528fa8138",
      "name": "If4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const voice_timbre_list = $('配置字段').first().json.voice_script.voice_scripts.map(item => {\n  const voice = $input.first().json.output.data.find(d => d.timbre_id === item.timbre_id)\n  return {\n    ...item,\n    \"voice_id\": voice.voice_id \n  }\n})\n\nreturn {\n  \"voice_timbre_list\": voice_timbre_list\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        64
      ],
      "id": "ed2701e2-b66c-4702-9b2d-78fe0532eecf",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('配置字段').first().json.output_folder_path }}audio_{{ $now.format('yyyy-MM-dd_hh-mm-ss') }}_{{ Math.floor(Math.random() * 10000) }}.flac",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3168,
        48
      ],
      "id": "b447577e-61a2-4f74-be56-3d3aa8dd45fa",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fileSelector": "=/root/ComfyUI/output/audio/{{ $json.values()[0].outputs['14'].audio[0].filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2976,
        48
      ],
      "id": "88077f9b-d180-46fb-bf35-4c2369488314",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "jsCode": "const file_path = $('Read/Write Files from Disk2').first().json.fileName\n\nreturn {\n  \"voice_filepath\": file_path,\n  \"text\": $('Loop Over Items1').first().json.text,\n  \"start_time\": $('Loop Over Items1').first().json.start_time,\n  \"end_time\": $('Loop Over Items1').first().json.end_time,\n  \"audio_length\": $input.first().json.duration_ms\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        48
      ],
      "id": "1d8d7902-7adf-42ff-9104-e7855d7d8061",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "function getFlacDurationFromBinary(binaryData) {\n    try {\n        // 从 n8n 的 binary 数据获取 Buffer\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        \n        // 验证 FLAC 文件头\n        if (buffer.toString('utf8', 0, 4) !== 'fLaC') {\n            return { error: '不是有效的 FLAC 文件' };\n        }\n        \n        let offset = 4;\n        \n        // 读取元数据块\n        while (offset < buffer.length) {\n            const blockHeader = buffer.readUInt32BE(offset);\n            offset += 4;\n            \n            const isLast = (blockHeader & 0x80000000) !== 0;\n            const blockType = (blockHeader & 0x7F000000) >>> 24;\n            const blockSize = blockHeader & 0x00FFFFFF;\n            \n            // STREAMINFO 块类型是 0\n            if (blockType === 0) {\n                // 采样率在偏移 10-12 (20位)\n                const sampleRateHigh = buffer.readUInt16BE(offset + 10);\n                const sampleRateLow = buffer.readUInt8(offset + 12);\n                const sampleRate = ((sampleRateHigh << 4) | (sampleRateLow >> 4)) & 0xFFFFF;\n                \n                // 总样本数在偏移 13-17 (36位)\n                const totalSamplesBytes = buffer.slice(offset + 13, offset + 18);\n                const totalSamples =\n                    ((totalSamplesBytes[0] & 0x0F) * 0x100000000) +\n                    (totalSamplesBytes[1] * 0x1000000) +\n                    (totalSamplesBytes[2] * 0x10000) +\n                    (totalSamplesBytes[3] * 0x100) +\n                    totalSamplesBytes[4];\n                \n                if (sampleRate > 0) {\n                    const duration = totalSamples / sampleRate;\n                    const minutes = Math.floor(duration / 60);\n                    const seconds = Math.floor(duration % 60);\n                    \n                    return {\n                        duration_seconds: duration,\n                        duration_formatted: `${minutes}:${seconds.toString().padStart(2, '0')}`,\n                        sample_rate: sampleRate,\n                        total_samples: totalSamples\n                    };\n                }\n                break;\n            }\n            \n            offset += blockSize;\n            if (isLast) break;\n        }\n        \n        return { error: '未找到 STREAMINFO 块' };\n        \n    } catch (error) {\n        return { error: error.message };\n    }\n}\n\n// 从上一个节点获取 binary 数据\nconst binaryData = $input.first().binary.data;\n\nconst result = getFlacDurationFromBinary(binaryData);\n\n// 返回结果\nreturn {\n  duration_ms: Math.floor(result.duration_seconds * 1000)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        48
      ],
      "id": "58c2197a-a3c2-4488-9a54-e421e041655b",
      "name": "获取音频时长1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3808,
        0
      ],
      "id": "89e9fa3a-62f4-4efc-bcd9-1b1bee9d46e3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8941cd67-eb38-4340-ae66-750b98369d79",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        0
      ],
      "id": "a6a371c8-7e58-42c9-8125-75f4850300b8",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T10:00:04.973Z",
      "createdAt": "2025-10-14T10:00:04.973Z",
      "role": "workflow:owner",
      "workflowId": "bwnfzf0R0UMtmrYa",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-10-14T09:59:53.547Z",
      "createdAt": "2025-10-14T09:59:53.547Z",
      "id": "TPybMl5UgOWEz7Sz",
      "name": "YT 教學"
    },
    {
      "updatedAt": "2025-10-14T09:59:53.536Z",
      "createdAt": "2025-10-14T09:59:53.536Z",
      "id": "xGbDm1YAxlriGlsl",
      "name": "Firecrawl"
    },
    {
      "updatedAt": "2025-10-14T09:59:53.558Z",
      "createdAt": "2025-10-14T09:59:53.558Z",
      "id": "KAzHv7Hy6GyosK6i",
      "name": "飞书"
    },
    {
      "updatedAt": "2025-10-14T09:59:53.547Z",
      "createdAt": "2025-10-14T09:59:53.547Z",
      "id": "awlsq9oJIgzuZatB",
      "name": "爬虫"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T01:23:58.791Z",
  "versionId": "f3add218-5462-4568-a2df-ab9a815b75b7"
}