workflows/My workflow.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "领导审批",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "领导审批": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-17T14:06:04.353Z",
  "id": "0Cbi66j4sMpC0QF2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -48
      ],
      "id": "6b4a085c-0267-4ec9-8231-3b38cb797972",
      "name": "When chat message received",
      "webhookId": "dff55f7c-3c23-4bd4-bee1-2e1583aa0878"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -384,
        208
      ],
      "id": "78cb9362-43a0-40cc-b994-44a49dbe10cd",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "2SXDvVt9uFwfTnQm",
          "name": "DeepSeek n8n Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        208
      ],
      "id": "99423b4f-126f-4b39-9953-7761c7bbd10f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "7cef56f7-31eb-466d-801b-1f486389b3bb",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        128,
        144
      ],
      "id": "f9898481-849a-448c-a4ef-bdabadde2c49",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "icN38xd1NUTud4W7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "工单提交",
        "formDescription": "工单提交",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "comments",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        576,
        -192
      ],
      "id": "ada9c40e-d461-43d8-b509-61a20b271b78",
      "name": "On form submission",
      "webhookId": "a3e97454-46ec-47d8-a28e-9f6c8e54978d"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "isAgree",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "approve"
                  },
                  {
                    "option": "reject"
                  }
                ]
              }
            },
            {
              "fieldLabel": "attachment",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        784,
        -192
      ],
      "id": "f6cfc7fb-dac9-41eb-8403-d2e7537c4b7b",
      "name": "领导审批",
      "webhookId": "0def4a05-8ea9-4689-987f-3ad162d9c61e"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Completion Title",
        "completionMessage": "Completion Message",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1248,
        -192
      ],
      "id": "d1261b8a-23e8-4a31-b094-c0efbb063013",
      "name": "Form",
      "webhookId": "1eb59309-7e66-49e4-874f-99055379806e"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/ragflow_schema.txt",
        "dataPropertyName": "={{ $json.attachment[0].filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        992,
        -192
      ],
      "id": "8b00af73-f951-41d8-b3ff-c9ba0d84c51c",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen3-235B-A22B",
          "mode": "list",
          "cachedResultName": "Qwen3-235B-A22B"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -304,
        128
      ],
      "id": "45153ce5-05b6-4200-8d1f-4ce399a29228",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mCK9PJVLTNywQwqT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -160,
        -80
      ],
      "id": "be8f2d6d-67aa-4838-bc4a-cd670db627d8",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-17T14:06:04.353Z",
      "createdAt": "2025-07-17T14:06:04.353Z",
      "role": "workflow:owner",
      "workflowId": "0Cbi66j4sMpC0QF2",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T02:02:40.583Z",
  "versionId": "2174b346-9e4e-4065-a50e-8ddbe8e77daf"
}