workflows/scrap news.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "资讯分类器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "宏观资讯": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "其它": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分类数组": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "国外": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "国内": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "资讯分类器": {
      "main": [
        [
          {
            "node": "市场资讯",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "宏观资讯",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "通信与ICT行业动态",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "商业观察",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "其它",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "市场资讯分类器",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "商业观察分类器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "市场资讯": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "通信与ICT行业动态": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "商业观察": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "市场资讯分类器": {
      "main": [
        [
          {
            "node": "国内",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "国外",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "港澳",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "港澳": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "商业动态": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "投融资": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生态合作": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "商业观察分类器": {
      "main": [
        [
          {
            "node": "商业动态",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "投融资",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "生态合作",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "商业观察分类器",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "市场资讯分类器",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "资讯分类器",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T03:08:44.924Z",
  "id": "OqDb7ppKN6mX7oDi",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "scrap news",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        752
      ],
      "id": "1112957e-56d3-4870-b12f-00a9d98473cd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-3e7c4258ddd64250843123ec4a1951ea"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\"{{ $json.url }}\"],\n  \"prompt\": \"Extract the latest news related to AI, including the title, date, link, and source of each news item.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"news\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"title\": {\n              \"type\": \"string\"\n            },\n             \"link\": {\n              \"type\": \"string\"\n            },\n            \"date\": {\n              \"type\": \"string\"\n            },\n            \"source\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"title\",\n            \"link\",\n            \"date\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"news\"\n    ]\n  },\n  \"enableWebSearch\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -32
      ],
      "id": "7caac4e1-1a66-407c-86f3-0b07a00d1c49",
      "name": "Extract"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        -32
      ],
      "id": "0d5ddc3b-9ce1-41a7-93b6-3b8d52d2844c",
      "name": "Wait",
      "webhookId": "4f34d3ea-7977-4827-83a9-ee0b6e8d1170"
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $('Extract').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-3e7c4258ddd64250843123ec4a1951ea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -32
      ],
      "id": "d395d5c9-3cd3-4886-964f-b5a70a6a30f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e5b0db-9d0c-4439-976d-921722c20fd9",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -32
      ],
      "id": "c9138e88-d223-442b-a9d1-74dfd0305e9e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a25875-fd8b-401e-96db-182f3084464b",
              "name": "url",
              "value": "[\"https://www.qbitai.com/\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -48
      ],
      "id": "135cabc3-df44-44e6-837c-4af869daf47e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.news",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        -272
      ],
      "id": "68023a42-45d6-4eba-98a7-af3851cfd309",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        -272
      ],
      "id": "bc6aa216-a01f-45ae-90c7-2f6c7db03047",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed74b0b3-7f4f-426a-bde5-58be16cce12e",
              "name": "category",
              "value": "其它",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -80
      ],
      "id": "39f92b9e-25bf-40ff-8412-ea393a2f2245",
      "name": "其它"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed74b0b3-7f4f-426a-bde5-58be16cce12e",
              "name": "category",
              "value": "宏观资讯",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -544
      ],
      "id": "b58d5458-61e6-4d2f-9939-dd16906c791b",
      "name": "宏观资讯"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "yAtPEE5aVP9J8pNl",
          "mode": "list",
          "cachedResultName": "news",
          "cachedResultUrl": "/projects/AjKOXkiVfZaaIF4c/datatables/yAtPEE5aVP9J8pNl"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $json.data[0].link }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.data[0].date }}",
            "link": "={{ $json.data[0].link }}",
            "category": "={{ $json.data[0].category }}",
            "source": "={{ $json.data[0].source }}",
            "title": "={{ $json.data[0].title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sub_category",
              "displayName": "sub_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2160,
        -80
      ],
      "id": "d3b0430b-0cc8-46e3-953a-fff986e68ce7",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a25875-fd8b-401e-96db-182f3084464b",
              "name": "url",
              "value": "[\"市场资讯\",\"通信与ICT行业动态\",\"宏观资讯\",\"商业观察\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        352
      ],
      "id": "e66777ec-e5f2-4619-8c4b-699454256302",
      "name": "分类数组"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        352
      ],
      "id": "48227948-fced-42d4-83df-dafc735b96db",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        800,
        368
      ],
      "id": "cd633294-2f35-424e-b1b5-17198f8bbe12"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        64,
        352
      ],
      "id": "f8691ac9-b0f9-456a-9cbc-e3aea43e004a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yAtPEE5aVP9J8pNl",
          "mode": "list",
          "cachedResultName": "news",
          "cachedResultUrl": "/projects/AjKOXkiVfZaaIF4c/datatables/yAtPEE5aVP9J8pNl"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $today }}"
            },
            {
              "keyName": "category",
              "keyValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        368
      ],
      "id": "41789af6-4299-4df2-92cc-99843d404588",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        752
      ],
      "id": "2dc5596d-a934-4315-9f89-81a78e0dcfe5",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-3e7c4258ddd64250843123ec4a1951ea"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.link }}\",\n  \"formats\": [\n    \"markdown\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        784
      ],
      "id": "b4bbc321-6ad6-40cc-adfd-eebb221cd12a",
      "name": "Scrape"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b206a2c-8bfb-46e4-bf00-0f26038f91f4",
              "name": "sub_category",
              "value": "国内",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        544
      ],
      "id": "435d5476-5180-4458-8b46-0eebf60ba7a6",
      "name": "国内"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b206a2c-8bfb-46e4-bf00-0f26038f91f4",
              "name": "sub_category",
              "value": "国外",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        672
      ],
      "id": "8780ea65-983d-42cb-a87e-20912f6fd54d",
      "name": "国外"
    },
    {
      "parameters": {
        "inputText": "={\n  \"instruction\": \"请将内容严格分类至：市场资讯（全球该行业重大资讯）、宏观资讯（国家政府层面，含港澳特区、部委政策等重大新闻）、通信与ICT行业动态（仅限运营商及ICT行业信息）、商业观察（商业动态，投融资、生态合作等相关资讯），若无法明确区分则归为其它。\",\n  \"text\": \"{{ $json.title }}\"\n} ",
        "categories": {
          "categories": [
            {
              "category": "市场资讯",
              "description": "全球AI相关重大资讯"
            },
            {
              "category": "宏观资讯",
              "description": "仅限重大新闻，国家层面、政府部门、管理机构如：工信部等发布的政策、条例等"
            },
            {
              "category": "通信与ICT行业动态",
              "description": "仅限运营商及ICT行业"
            },
            {
              "category": "商业观察",
              "description": "商业动态，投融资、生态合作等相关资讯"
            },
            {
              "category": "其它",
              "description": "其它"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1072,
        -304
      ],
      "id": "6aa31c88-1035-482e-b7c4-2b37715066d8",
      "name": "资讯分类器"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "yAtPEE5aVP9J8pNl",
          "mode": "list",
          "cachedResultName": "news",
          "cachedResultUrl": "/projects/AjKOXkiVfZaaIF4c/datatables/yAtPEE5aVP9J8pNl"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $('Loop Over Items2').item.json.link }}"
            },
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $today }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.data.markdown }}",
            "sub_category": "={{ $json.sub_category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sub_category",
              "displayName": "sub_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1712,
        800
      ],
      "id": "5251f671-8bf8-4ea6-ad44-c46247d13038",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "市场资讯",
                    "rightValue": "={{ $('Loop Over Items2').item.json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fece475b-cc45-4ebf-9116-11b9d041b982"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b76e611a-848c-4c1c-b1bd-0a3d1e8b5a0a",
                    "leftValue": "宏观资讯",
                    "rightValue": "={{ $('Loop Over Items2').item.json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cb671a8-c7ff-4100-9d76-17ca59a9a4f3",
                    "leftValue": "通信与ICT行业动态",
                    "rightValue": "={{ $('Loop Over Items2').item.json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1636c3a-6c42-4632-8cdc-b2d4b3b094c0",
                    "leftValue": "商业观察",
                    "rightValue": "={{ $('Loop Over Items2').item.json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        688,
        752
      ],
      "id": "4673dd01-a15f-4e49-a333-6b5df364b620",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        -48
      ],
      "id": "b98f7a64-ee03-47ab-b936-ad88056a1342",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -576,
        -48
      ],
      "id": "12590381-6a24-4988-8cf8-aa8b7324e58d",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed74b0b3-7f4f-426a-bde5-58be16cce12e",
              "name": "category",
              "value": "市场资讯",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -720
      ],
      "id": "b58a063b-ea09-40a5-9a40-ea6fa03e1eab",
      "name": "市场资讯"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed74b0b3-7f4f-426a-bde5-58be16cce12e",
              "name": "category",
              "value": "通信与ICT行业动态",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -400
      ],
      "id": "3c1bb107-fd49-466f-80ba-d32c42fe9e19",
      "name": "通信与ICT行业动态"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed74b0b3-7f4f-426a-bde5-58be16cce12e",
              "name": "category",
              "value": "商业观察",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -240
      ],
      "id": "93ac3ca0-f386-4cdb-936e-b40e590221ba",
      "name": "商业观察"
    },
    {
      "parameters": {
        "inputText": "={\n  \"instruction\": \"基于以下类型标准去分析text文本：国内、国外、港澳。\",\n  \"text\": \"{{ $json.data.metadata.title }},{{ $json.data.metadata.description }}\"\n} ",
        "categories": {
          "categories": [
            {
              "category": "国内",
              "description": "国内"
            },
            {
              "category": "国外",
              "description": "国外"
            },
            {
              "category": "港澳",
              "description": "港澳"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1024,
        560
      ],
      "id": "13b87aaf-2a2f-410e-90a0-c0b240130c46",
      "name": "市场资讯分类器"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b206a2c-8bfb-46e4-bf00-0f26038f91f4",
              "name": "sub_category",
              "value": "港澳",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        800
      ],
      "id": "ffdfbb6c-38f8-4dea-99df-4b695f365830",
      "name": "港澳"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4940d4b-aeea-4843-9691-1d30185a68f3",
              "name": "sub_category",
              "value": "商业动态",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        928
      ],
      "id": "cd6c4135-3700-48f2-b9ce-54fee7fb2313",
      "name": "商业动态"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d9febfa-a57e-4056-a5f2-14009a90ef7a",
              "name": "sub_category",
              "value": "投融资",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1088
      ],
      "id": "b0fd136c-3640-41a4-80e7-0876e600c32b",
      "name": "投融资"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c90b5ddb-e28e-46d8-a8f8-bd77401f5393",
              "name": "sub_category",
              "value": "生态合作",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1248
      ],
      "id": "56209033-f27f-4ee7-841e-5a9fde7acb42",
      "name": "生态合作"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "yAtPEE5aVP9J8pNl",
          "mode": "list",
          "cachedResultName": "news",
          "cachedResultUrl": "/projects/AjKOXkiVfZaaIF4c/datatables/yAtPEE5aVP9J8pNl"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $('Loop Over Items2').item.json.link }}"
            },
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $today }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $('Scrape').item.json.data.markdown }}",
            "sub_category": "={{ $json.sub_category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sub_category",
              "displayName": "sub_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1712,
        1248
      ],
      "id": "8c771615-159d-40fb-a8c6-41340f8e284d",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77b32db2-0726-4db8-b290-1da7da4da9cf",
              "leftValue": "={{ $json.category }}",
              "rightValue": "其它",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        768
      ],
      "id": "6ed73d6b-269a-40fb-b905-9cc2d340b08d",
      "name": "If1"
    },
    {
      "parameters": {
        "inputText": "={\n  \"instruction\": \"基于以下分类标准分析文本：商业动态、投融资、生态合作。如不匹配则归为生态合作。\",\n  \"text\": \"{{ $json.data.markdown }}\"\n} ",
        "categories": {
          "categories": [
            {
              "category": "商业动态",
              "description": "商业动态"
            },
            {
              "category": "投融资",
              "description": "投融资"
            },
            {
              "category": "生态合作",
              "description": "生态合作"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1008,
        944
      ],
      "id": "109049e5-1825-4612-97b2-4808f14321c2",
      "name": "商业观察分类器"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        1152
      ],
      "id": "e3728dd2-e9fb-423e-bab9-5690bf76cbf0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mOE7vbZHlbc3A2y8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1024,
        768
      ],
      "id": "4f02ffe9-25a2-4e0a-8ed7-739817e18afb",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "mOE7vbZHlbc3A2y8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1072,
        -32
      ],
      "id": "560a1c56-f62b-4f51-9f3c-933b3f3470ff",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "mOE7vbZHlbc3A2y8",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "id": 51,
          "createdAt": "2025-10-16T04:06:12.902Z",
          "updatedAt": "2025-10-16T04:06:12.902Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "其它",
          "link": "https://www.qbitai.com/2025/10/341545.html",
          "sub_category": null,
          "title": "别Claude Code了，一个国产免费命令行就够了",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 52,
          "createdAt": "2025-10-16T04:06:15.286Z",
          "updatedAt": "2025-10-16T04:06:15.286Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "市场资讯",
          "link": "https://www.qbitai.com/2025/10/342093.html",
          "sub_category": null,
          "title": "Sora2不够香了！国产AI视频模型已能边看边生成，生成快还互动佳",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 53,
          "createdAt": "2025-10-16T04:06:17.802Z",
          "updatedAt": "2025-10-16T04:06:17.802Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "其它",
          "link": "https://www.qbitai.com/2025/10/341880.html",
          "sub_category": null,
          "title": "王兴兴硕士论文惊现GitHub，宇树雏形那时候就有了",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 54,
          "createdAt": "2025-10-16T04:06:20.134Z",
          "updatedAt": "2025-10-16T04:06:20.134Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "市场资讯",
          "link": "https://www.qbitai.com/2025/10/341790.html",
          "sub_category": null,
          "title": "谷歌新版Gemini一夜端掉UI：单HTML文件复刻macOS，成功率100%",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 55,
          "createdAt": "2025-10-16T04:06:23.576Z",
          "updatedAt": "2025-10-16T04:06:23.576Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "市场资讯",
          "link": "https://www.qbitai.com/2025/10/340687.html",
          "sub_category": null,
          "title": "吴恩达Agentic AI新课：手把手教你搭建Agent工作流，GPT-3.5反杀GPT-4就顺手的事",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 56,
          "createdAt": "2025-10-16T04:06:26.151Z",
          "updatedAt": "2025-10-16T04:06:26.151Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "市场资讯",
          "link": "https://www.qbitai.com/2025/10/342036.html",
          "sub_category": null,
          "title": "开源模型TOP5，被中国厂商包圆了",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 57,
          "createdAt": "2025-10-16T04:06:28.209Z",
          "updatedAt": "2025-10-16T04:06:28.209Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "商业观察",
          "link": "https://www.qbitai.com/2025/10/342026.html",
          "sub_category": null,
          "title": "Robotaxi逐鹿香港上市，小马和文远同日公告了",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 58,
          "createdAt": "2025-10-16T04:06:30.220Z",
          "updatedAt": "2025-10-16T04:06:30.220Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "商业观察",
          "link": "https://www.qbitai.com/2025/10/341877.html",
          "sub_category": null,
          "title": "得分率超74.6%，京东云JoyCode-Agent位居SWE-Bench全球榜单Top3",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 59,
          "createdAt": "2025-10-16T04:06:32.967Z",
          "updatedAt": "2025-10-16T04:06:32.967Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "市场资讯",
          "link": "https://www.qbitai.com/2025/10/341842.html",
          "sub_category": null,
          "title": "腾讯发布超低成本AI训练法！120元效果秒杀70000元微调方案",
          "source": "量子位",
          "content": null
        }
      },
      {
        "json": {
          "id": 60,
          "createdAt": "2025-10-16T04:06:35.421Z",
          "updatedAt": "2025-10-16T04:06:35.421Z",
          "date": "2025-10-16T03:54:01.431Z",
          "category": "其它",
          "link": "https://www.qbitai.com/2025/10/341817.html",
          "sub_category": null,
          "title": "人工智能年度榜单火热报名中！五大奖项，寻找AI+时代的先锋力量",
          "source": "量子位",
          "content": null
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-15T03:08:44.924Z",
      "createdAt": "2025-10-15T03:08:44.924Z",
      "role": "workflow:owner",
      "workflowId": "OqDb7ppKN6mX7oDi",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T06:38:20.479Z",
  "versionId": "31d79898-2f8a-49a1-85cf-3588c04d30a6"
}