workflows/scrap latest news - other.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "是否请求完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "获取消息组",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取消息组": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI-Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "日期判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Links": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "日期判断": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否请求完成": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "content sort trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-30T06:36:57.475Z",
  "id": "YoMoJgrtYhIgjcVD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "scrap latest news - other",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -160
      ],
      "id": "887fd4ac-e8a1-4d55-82f8-5cf34311bb5d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.206.101:3002/v2/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-c011643b17be460c810e13b907791432"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\"{{ $json.urls.trim() }}\"],\n  \"prompt\": \"抽取 {{ $json.keyword }} 相关信息, 包括 title, link, date 和 source 字段.date请保持yyyy-MM-DD这种格式\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"news\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"title\": {\n              \"type\": \"string\"\n            },\n             \"link\": {\n              \"type\": \"string\"\n            },\n            \"date\": {\n              \"type\": \"string\"\n            },\n            \"source\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"title\",\n            \"link\",\n            \"date\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"news\"\n    ]\n  },\n  \"enableWebSearch\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -144
      ],
      "id": "660c6d3c-0b02-4459-bddd-5aff8b899024",
      "name": "Extract"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        -144
      ],
      "id": "acd70e8b-dd1b-48e8-9044-81f0fefec5e5",
      "name": "Wait",
      "webhookId": "d09c484d-d13e-474c-9577-501271462ed0"
    },
    {
      "parameters": {
        "url": "=http://192.168.206.101:3002/v1/extract/{{ $('Extract').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-c011643b17be460c810e13b907791432"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -144
      ],
      "id": "097b075f-60d0-44c9-8e05-279e8a213c3e",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        288
      ],
      "id": "af61b815-8b4d-4c30-911d-22238d63e77f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "yAtPEE5aVP9J8pNl",
          "mode": "list",
          "cachedResultName": "news",
          "cachedResultUrl": "/projects/AjKOXkiVfZaaIF4c/datatables/yAtPEE5aVP9J8pNl"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $('日期判断').item.json.link }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('日期判断').item.json.date }}",
            "link": "={{ $('日期判断').item.json.link }}",
            "category": "={{ $json.output.category }}",
            "source": "={{ $('日期判断').item.json.source }}",
            "title": "={{ $('日期判断').item.json.title }}",
            "status": 0,
            "keyword": "={{ $('日期判断').item.json.keyword }}",
            "origin_url": "={{ $('Loop Over Items').item.json.origin_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sub_category",
              "displayName": "sub_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "origin_url",
              "displayName": "origin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1024,
        320
      ],
      "id": "7437cb04-6ae6-4970-af55-70c188ffe94f",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        -160
      ],
      "id": "24521304-c123-42d7-988e-2500a3e15e91",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -384,
        -160
      ],
      "id": "6b0a82a9-0d1b-4d4e-a1ef-cb437b3eacdf",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\nfor (const item of $input.all()) {\n  result.push(...item.json.data.news);\n}\nconst resultWithKeyword = result.map(item => ({\n  ...item,\n  keyword: $('Split Out2').first().json.keyword\n  }));\nreturn resultWithKeyword;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        288
      ],
      "id": "b4543961-8b2c-4afc-8500-2c4b00bfa817",
      "name": "获取消息组"
    },
    {
      "parameters": {
        "formTitle": "报告生成表单",
        "formDescription": "报告生成表单",
        "formFields": {
          "values": [
            {
              "fieldLabel": "keyword",
              "placeholder": "请输入你的专题",
              "requiredField": true
            },
            {
              "fieldLabel": "urls",
              "fieldType": "textarea",
              "placeholder": "请输入你的网站集,网站间请要“，”分隔。如不输入，则用如下link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -896,
        -320
      ],
      "id": "e43d7c57-91eb-417d-97a3-8a87f316a842",
      "name": "On form submission",
      "webhookId": "06c16f3d-6cd6-420d-b47d-525fce79309d"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        16
      ],
      "id": "4d475e8d-d5de-4d96-a486-634650a724a7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const inputString = $input.first().json.urls.replace(/\\r\\n/g, '');\n\n// 使用 split(',') 方法按逗号分割字符串，生成数组\nconst urlArray = inputString.split(',');\n\n// 返回一个新的 item，包含字符串数组（你可以根据需要调整输出字段名）\nreturn [\n  {\n    json: {\n      urls: urlArray,  // 输出示例: [\"https://www.reuters.com/technology/artificial-intelligence/\", \"https://news.aibase.cn/news\"]\n      keyword: $input.first().json.keyword\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -160
      ],
      "id": "7737b95e-bc69-49f0-8649-d1954253a703",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a25875-fd8b-401e-96db-182f3084464b",
              "name": "urls",
              "value": "https://zhidx.com/p/category/%E4%BA%BA%E5%B7%A5%E6%99%BA%E8%83%BD",
              "type": "string"
            },
            {
              "id": "90fd0e54-2226-4715-a547-0411298622bb",
              "name": "keyword",
              "value": "AI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -160
      ],
      "id": "0a2b450f-6b8d-40ea-88c4-1fd1f84d94c1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "// 处理多种日期格式并对比\nfunction processDate(inputDate) {\n  // 如果是\"刚刚\"等特殊字符串，直接返回今天\n  if (typeof inputDate !== 'string' || inputDate.includes('刚刚') || inputDate.includes('刚才')) {\n    return new Date();\n  }\n  \n  // 移除可能的时间部分和时区信息\n  let dateStr = inputDate.split('T')[0].split(' ')[0];\n  \n  // 统一分隔符为破折号\n  dateStr = dateStr.replace(/\\//g, '-');\n  \n  // 解析日期\n  let parsedDate;\n  \n  try {\n    // 尝试直接解析\n    parsedDate = new Date(dateStr);\n    \n    // 如果解析失败，尝试手动解析\n    if (isNaN(parsedDate.getTime())) {\n      const parts = dateStr.split('-');\n      if (parts.length === 3) {\n        const year = parseInt(parts[0]);\n        const month = parseInt(parts[1]) - 1; // 月份从0开始\n        const day = parseInt(parts[2]);\n        parsedDate = new Date(year, month, day);\n      }\n    }\n  } catch (error) {\n    // 如果所有解析都失败，返回无效日期\n    parsedDate = new Date('invalid');\n  }\n  \n  return parsedDate;\n}\n\n// 主处理逻辑\nconst inputDate = $input.first().json.date; // 假设日期字段名为 date\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nyesterday.setHours(0, 0, 0, 0); // 设置为昨天开始时间\n\nconst targetDate = processDate(inputDate);\n\nif (isNaN(targetDate.getTime())) {\n  // 日期解析失败的处理\n  return { \n    isValid: false,\n    isAfterYesterday: false,\n    originalDate: inputDate,\n    error: '无法解析日期格式'\n  };\n} else {\n  const isAfterYesterday = targetDate >= yesterday;\n  \n  return {\n    isValid: true,\n    isAfterYesterday: isAfterYesterday,\n    originalDate: inputDate,\n    parsedDate: targetDate.toISOString(),\n    yesterday: yesterday.toISOString(),\n    link: $input.first().json.link,\n    title: $input.first().json.title,\n    source: $input.first().json.source,\n    date: $input.first().json.date,\n    keyword: $input.first().json.keyword\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        304
      ],
      "id": "dee70cff-ee2b-4884-afdd-b981d8a4f03b",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个智能内容分类助手。请严格按照以下要求对给定内容进行分类。\n\n**分类任务：**\n对提供的文本内容进行分类。\n\n**内容：**\n{{ $json.title }}\n\n**分类体系与定义：**\n- **市场资讯**：全球范围内重大的AI市场动态、产品发布、竞争格局等信息。\n- **宏观资讯**：非公司、非个人级别的重大AI资讯，特指国家层面（如中国、美国）、政府部门（如工信部、FDA）、国际组织或管理机构发布的AI政策、法规、条例、白皮书等。\n- **通信ICT行业资讯**：特指电信运营商（如中国移动、Verizon）、通信设备商（如华为、爱立信）及ICT（信息与通信技术）领域内的AI技术应用、标准、发展等相关资讯。\n- **商业观察**：关于AI领域的商业动态，包括但不限于公司投融资、并购、战略合作、合作伙伴关系、生态建设等资讯。\n- **其它**：无法归入以上任何一类的内容。\n\n**输出要求：**\n1. 请仔细分析内容，选择最贴切的一个分类。\n2.  **必须** 以JSON格式输出，且仅包含以下三个字段：\n    - `category`：字符串类型，值为上述分类体系中的某一个分类标签（例如：“市场资讯”）。\n    - `reasoning`：字符串类型，简要说明如此分类的理由，特别是内容中的关键词或核心主题如何匹配了该类别的定义。\n3. 如果内容与AI无关，或确实无法明确分类，请将 `category` 设为“其它”，并根据判断给出相应`reasoning`。\n\n请开始你的分析并输出JSON。",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        144
      ],
      "id": "66b94f01-a308-46bc-b958-778da3a249dc",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0];\n\nif (data?.json.data?.news) {\n  data.json.data.news.forEach(item => {\n    item.origin_url = $('Loop Over Items3').first().json.urls; \n  });\n}\n\nreturn [data];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -160
      ],
      "id": "0d8ebd26-f2dd-4b70-b67a-eddec16eff04",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a25875-fd8b-401e-96db-182f3084464b",
              "name": "urls",
              "value": "https://zhidx.com/p/category/%E4%BA%BA%E5%B7%A5%E6%99%BA%E8%83%BD, https://news.aibase.cn/news, https://next.ithome.com/ai, https://www.itib.gov.hk/zh-cn/new/content_2025.html, https://www.dsedt.gov.mo/zh_CN/web/public/pg_nc_wn?_refresh=true, https://ai4sme.aisingapore.org/news/,  https://www.gov.cn/zhengce/index.htm, https://www.gov.cn/yaowen/, https://www.miit.gov.cn/xwfb/zxzc/index.html, https://www.miit.gov.cn/xwfb/xwfbh/index.html, https://www.cac.gov.cn/wxzw/A0937index_1.htm, https://www.ofca.gov.hk/tc/whats_new/index.html, https://www.gov.mo/zh-hant/news/, https://www.ctt.gov.mo/Contents/news,  https://www.c114.com.cn/ai/, http://www.cctime.com/list/17637.htm, https://www.aastocks.com/tc/stocks/news/aafn, https://www.hk01.com/tag/3224?utm_source=webmenu&utm_medium=web, https://www.gsmaintelligence.com/insights/blogs, https://www.lightreading.com/digital-transformation/ai-machine-learning,  https://hk.finance.yahoo.com/topic/AI%E5%A4%A7%E6%99%82%E4%BB%A3/, https://www.36kr.com/information/AI/, https://www.cls.cn/depth?id=1000, https://www.itjuzi.com/news, https://htcz.sz.gov.cn/cxsj/dmd/, https://www.chinanews.com.cn/dwq/, https://channel.chinanews.com.cn/u/dwq-ga.shtml",
              "type": "string"
            },
            {
              "id": "90fd0e54-2226-4715-a547-0411298622bb",
              "name": "keyword",
              "value": "AI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        16
      ],
      "id": "d4846f24-9e2d-43e2-b6f1-6273e51e7c15",
      "name": "AI-Links"
    },
    {
      "parameters": {
        "content": "## 新闻收集\n1. 新闻抓取\n2. 新闻一级分类并入库\n\nhttps://www.reuters.com/technology/artificial-intelligence/, https://zhidx.com/p/category/%E4%BA%BA%E5%B7%A5%E6%99%BA%E8%83%BD, https://news.aibase.cn/news, https://next.ithome.com/ai, https://www.itib.gov.hk/zh-cn/new/content_2025.html, https://www.dsedt.gov.mo/zh_CN/web/public/pg_nc_wn?_refresh=true, https://ai4sme.aisingapore.org/news/,  https://www.gov.cn/zhengce/index.htm, https://www.gov.cn/yaowen/, https://www.miit.gov.cn/xwfb/zxzc/index.html, https://www.miit.gov.cn/xwfb/xwfbh/index.html, https://www.cac.gov.cn/wxzw/A0937index_1.htm, https://www.ofca.gov.hk/tc/whats_new/index.html, https://www.gov.mo/zh-hant/news/, https://www.ctt.gov.mo/Contents/news,  https://www.c114.com.cn/ai/, http://www.cctime.com/list/17637.htm, https://www.aastocks.com/tc/stocks/news/aafn, https://www.hk01.com/tag/3224?utm_source=webmenu&utm_medium=web, https://www.gsmaintelligence.com/insights/blogs, https://www.lightreading.com/digital-transformation/ai-machine-learning,  https://hk.finance.yahoo.com/topic/AI%E5%A4%A7%E6%99%82%E4%BB%A3/, https://www.36kr.com/information/AI/, https://www.cls.cn/depth?id=1000, https://www.reuters.com/markets/deals/, https://www.itjuzi.com/news, https://htcz.sz.gov.cn/cxsj/dmd/, https://www.chinanews.com.cn/dwq/, https://channel.chinanews.com.cn/u/dwq-ga.shtml",
        "height": 992,
        "width": 2896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        -368
      ],
      "typeVersion": 1,
      "id": "80a39709-19b8-4dda-a0ef-ce93e87b1780",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "XyZW7ZkajleyFF8O",
          "mode": "list",
          "cachedResultName": "trigger",
          "cachedResultUrl": "/projects/AjKOXkiVfZaaIF4c/datatables/XyZW7ZkajleyFF8O"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $today }}"
            },
            {
              "keyName": "status",
              "keyValue": "0"
            },
            {
              "keyName": "name",
              "keyValue": "{{ $json.keyword }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": 0,
            "name": "content_sort",
            "keyword": "{{ $json.keyword }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        128,
        160
      ],
      "id": "74aa2165-ff1b-43f0-b138-394befcc6f23",
      "name": "content sort trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99222c92-32c9-41d4-abe7-552a846c199b",
              "leftValue": "={{ $json.isAfterYesterday }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        304
      ],
      "id": "2351eb0b-f036-416e-80f5-dcc4d73607b8",
      "name": "日期判断"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e5b0db-9d0c-4439-976d-921722c20fd9",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -144
      ],
      "id": "5d66c628-1cbb-40ab-9075-de1e34eb544a",
      "name": "是否请求完成"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c75c7b-748c-4660-a52e-016a946a56c0",
              "name": "keyword",
              "value": "={{ $json.keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        160
      ],
      "id": "1a8fd14c-5e41-4017-a579-c0286b06b80d",
      "name": "Edit Fields",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-30T06:36:57.475Z",
      "createdAt": "2025-10-30T06:36:57.475Z",
      "role": "workflow:owner",
      "workflowId": "YoMoJgrtYhIgjcVD",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-11-04T04:08:50.396Z",
  "versionId": "310b2252-4f5c-4a2d-80a8-2dc6b727512a"
}