workflows/单人视频工作流-生成分镜图片.json
{
  "active": false,
  "connections": {
    "配置字段": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "配置字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "执行结束返回字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T09:39:18.070Z",
  "id": "5wPZSYM7LRjy4aNy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "单人视频工作流-生成分镜图片",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "565c1e1b-70c2-403d-a35f-4f43cfd2c0ae",
              "name": "prompt",
              "value": "={{ JSON.stringify($json.prompt) }}",
              "type": "string"
            },
            {
              "id": "bce999ce-9040-4f70-a70a-6df392427116",
              "name": "character_filepath",
              "value": "={{ $json.character_filepath }}",
              "type": "string"
            },
            {
              "id": "b8e90af4-4af6-4a2a-9b2d-d75606073b29",
              "name": "output_folder_path",
              "value": "={{ $json.output_folder_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        64
      ],
      "id": "1eae4a32-6b86-4183-8a2d-9725767d5373",
      "name": "配置字段"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "character_filepath"
            },
            {
              "name": "prompt"
            },
            {
              "name": "output_folder_path"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        64
      ],
      "id": "2e8d58d2-3df2-4ba9-9953-abaa21b29f76",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6491514e-d576-4ea9-bcfb-9d8aa5ab69fc",
              "name": "character_filepath",
              "value": "/root/ComfyUI/output/ComfyUI_00008_.png",
              "type": "string"
            },
            {
              "id": "de858876-b71d-4290-8aa1-5ac20bbd84a2",
              "name": "prompt",
              "value": "=",
              "type": "string"
            },
            {
              "id": "31bddccc-2b60-4677-b209-0c98f4e16162",
              "name": "output_folder_path",
              "value": "/root/n8n/custom_output/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -176
      ],
      "id": "43b21373-28bd-4e97-91b8-daa1a2301d7e",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -176
      ],
      "id": "e7c5de71-4114-421e-81fa-78273100cbb6",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.character_filepath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        64
      ],
      "id": "734939af-6f2a-4525-8d72-4f4a24ce1287",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b56d373b-ce89-4280-bb76-745968f4d482",
              "name": "images_filepath",
              "value": "={{ $json.images_filepath }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        32
      ],
      "id": "b9624ce0-65ee-42f8-b851-db457b1f5e72",
      "name": "执行结束返回字段"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n  \"56\": {\n    \"inputs\": {\n      \"seed\": 213531736143127,\n      \"steps\": 4,\n      \"cfg\": 1,\n      \"sampler_name\": \"sa_solver\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\n        \"109\",\n        0\n      ],\n      \"positive\": [\n        \"68\",\n        0\n      ],\n      \"negative\": [\n        \"61\",\n        0\n      ],\n      \"latent_image\": [\n        \"60\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"K采样器\"\n    }\n  },\n  \"60\": {\n    \"inputs\": {\n      \"pixels\": [\n        \"91\",\n        0\n      ],\n      \"vae\": [\n        \"110\",\n        0\n      ]\n    },\n    \"class_type\": \"VAEEncode\",\n    \"_meta\": {\n      \"title\": \"VAE编码\"\n    }\n  },\n  \"61\": {\n    \"inputs\": {\n      \"prompt\": \"\",\n      \"clip\": [\n        \"107\",\n        0\n      ],\n      \"vae\": [\n        \"110\",\n        0\n      ],\n      \"image1\": [\n        \"91\",\n        0\n      ]\n    },\n    \"class_type\": \"TextEncodeQwenImageEditPlus\",\n    \"_meta\": {\n      \"title\": \"TextEncodeQwenImageEditPlus\"\n    }\n  },\n  \"68\": {\n    \"inputs\": {\n      \"prompt\": [\n        \"138\",\n        0\n      ],\n      \"clip\": [\n        \"107\",\n        0\n      ],\n      \"vae\": [\n        \"110\",\n        0\n      ],\n      \"image1\": [\n        \"91\",\n        0\n      ]\n    },\n    \"class_type\": \"TextEncodeQwenImageEditPlus\",\n    \"_meta\": {\n      \"title\": \"TextEncodeQwenImageEditPlus\"\n    }\n  },\n  \"69\": {\n    \"inputs\": {\n      \"samples\": [\n        \"56\",\n        0\n      ],\n      \"vae\": [\n        \"110\",\n        0\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE解码\"\n    }\n  },\n  \"74\": {\n    \"inputs\": {\n      \"image\": \"{{ $json.name }}\"\n    },\n    \"class_type\": \"LoadImage\",\n    \"_meta\": {\n      \"title\": \"加载图像\"\n    }\n  },\n  \"91\": {\n    \"inputs\": {\n      \"aspect_ratio\": \"original\",\n      \"proportional_width\": 1,\n      \"proportional_height\": 1,\n      \"fit\": \"letterbox\",\n      \"method\": \"lanczos\",\n      \"round_to_multiple\": \"8\",\n      \"scale_to_side\": \"shortest\",\n      \"scale_to_length\": [\n        \"104\",\n        0\n      ],\n      \"background_color\": \"#000000\",\n      \"image\": [\n        \"74\",\n        0\n      ]\n    },\n    \"class_type\": \"LayerUtility: ImageScaleByAspectRatio V2\",\n    \"_meta\": {\n      \"title\": \"LayerUtility: ImageScaleByAspectRatio V2\"\n    }\n  },\n  \"99\": {\n    \"inputs\": {\n      \"text\": \"\",\n      \"anything\": [\n        \"138\",\n        0\n      ]\n    },\n    \"class_type\": \"easy showAnything\",\n    \"_meta\": {\n      \"title\": \"展示任何\"\n    }\n  },\n  \"104\": {\n    \"inputs\": {\n      \"Number\": 1024\n    },\n    \"class_type\": \"Int\",\n    \"_meta\": {\n      \"title\": \"Int\"\n    }\n  },\n  \"105\": {\n    \"inputs\": {\n      \"filename_prefix\": \"ComfyUI\",\n      \"images\": [\n        \"69\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"保存图像\"\n    }\n  },\n  \"106\": {\n    \"inputs\": {\n      \"unet_name\": \"qwen_image_edit_2509_fp8_e4m3fn.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\",\n    \"_meta\": {\n      \"title\": \"UNet加载器\"\n    }\n  },\n  \"107\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_2.5_vl_7b_fp8_scaled.safetensors\",\n      \"type\": \"qwen_image\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\",\n    \"_meta\": {\n      \"title\": \"加载CLIP\"\n    }\n  },\n  \"109\": {\n    \"inputs\": {\n      \"lora_name\": \"Qwen-Image-Lightning-4steps-V1.0.safetensors\",\n      \"strength_model\": 1.0000000000000002,\n      \"model\": [\n        \"133\",\n        0\n      ]\n    },\n    \"class_type\": \"LoraLoaderModelOnly\",\n    \"_meta\": {\n      \"title\": \"LoRA加载器（仅模型）\"\n    }\n  },\n  \"110\": {\n    \"inputs\": {\n      \"vae_name\": \"qwen_image_vae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\",\n    \"_meta\": {\n      \"title\": \"加载VAE\"\n    }\n  },\n  \"133\": {\n    \"inputs\": {\n      \"lora_name\": \"next-scene_lora-v2-3000.safetensors\",\n      \"strength_model\": 0.8000000000000002,\n      \"model\": [\n        \"106\",\n        0\n      ]\n    },\n    \"class_type\": \"LoraLoaderModelOnly\",\n    \"_meta\": {\n      \"title\": \"LoRA加载器（仅模型）\"\n    }\n  },\n  \"138\": {\n    \"inputs\": {\n      \"prompt\": {{ $('配置字段').item.json.prompt }},\n      \"start_index\": 0,\n      \"max_rows\": 1000,\n      \"remove_empty_lines\": \"\"\n    },\n    \"class_type\": \"easy promptLine\",\n    \"_meta\": {\n      \"title\": \"提示词行\"\n    }\n  }\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        64
      ],
      "id": "636e0432-da0b-4483-8b99-faf2f3e0f3b8",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        528,
        64
      ],
      "id": "31f83ef3-436e-41a2-ad3c-b34872192854",
      "name": "Wait",
      "webhookId": "0a4675d5-4a1b-48af-82f0-49903aa5c606"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8188/history/{{ $('HTTP Request').item.json.prompt_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        64
      ],
      "id": "b0c97ad3-21a7-4b0b-ad64-523850603a71",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95b5670e-5019-45a7-b701-08a608311038",
              "leftValue": "={{ $json.values()[0].status.status_str }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        64
      ],
      "id": "bd43e35b-3212-44cf-acbb-daff54403a30",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "=/root/ComfyUI/output/{{ $json.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1904,
        64
      ],
      "id": "b744e781-bfdf-4e2a-a42f-a5ea55284144",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        64
      ],
      "id": "28a2d08e-d859-4a52-bf85-1057c27eb1b0",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        48
      ],
      "id": "12e066b8-0d03-450a-8104-5a839ceb25e6",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02866e68-1a03-4696-8c44-bdc9af560966",
              "name": "images",
              "value": "={{ $json.values()[0].outputs['105'].images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        48
      ],
      "id": "bfbf79e2-a785-4861-bdd7-c004de707ae1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1632,
        48
      ],
      "id": "22e3ffa8-1d83-4307-b2d1-62595af35193",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('配置字段').item.json.output_folder_path }}image_{{ $now.format('yyyy-MM-dd_hh-mm-ss') }}_{{ Math.floor(Math.random() * 10000) }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2128,
        64
      ],
      "id": "9c78d5cd-85d4-4a81-93e6-81468db7a074",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fileName",
              "renameField": true,
              "outputFieldName": "images_filepath"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2576,
        32
      ],
      "id": "21f2cd77-d734-420d-af65-1dc762875f9a",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e58dd683-28f3-406b-84b6-3447331c8bb3",
              "name": "fileName",
              "value": "={{ $json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        64
      ],
      "id": "ca5a8878-b2c2-4c09-8c12-1c2e2657bfbe",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T09:39:18.070Z",
      "createdAt": "2025-10-14T09:39:18.070Z",
      "role": "workflow:owner",
      "workflowId": "5wPZSYM7LRjy4aNy",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T01:24:03.570Z",
  "versionId": "ba926032-70dd-4385-87e8-c6cef33a710c"
}