workflows/单人视频工作流-生成背景音乐.json
{
  "active": false,
  "connections": {
    "配置字段": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "配置字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "执行结束返回字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T07:51:13.249Z",
  "id": "GMhfk9dXfKj8bheZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "单人视频工作流-生成背景音乐",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf873743-1c07-494d-99c9-678cade473bf",
              "name": "character",
              "value": "={{ $json.character }}",
              "type": "string"
            },
            {
              "id": "565c1e1b-70c2-403d-a35f-4f43cfd2c0ae",
              "name": "storyboard_prompts",
              "value": "={{ $json.storyboard_prompts }}",
              "type": "array"
            },
            {
              "id": "b8e90af4-4af6-4a2a-9b2d-d75606073b29",
              "name": "output_folder_path",
              "value": "={{ $json.output_folder_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        144
      ],
      "id": "eb5cf647-6e7a-4aff-a814-fab5e83030b2",
      "name": "配置字段"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "storyboard_prompts",
              "type": "array"
            },
            {
              "name": "character"
            },
            {
              "name": "output_folder_path"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        144
      ],
      "id": "a16fa2fd-c948-4a71-b195-f7313b18cdfb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31bddccc-2b60-4677-b209-0c98f4e16162",
              "name": "output_folder_path",
              "value": "/root/n8n/custom_output",
              "type": "string"
            },
            {
              "id": "ed0d8cc5-6680-4b2d-a5b1-32bfe32fe4db",
              "name": "character",
              "value": "皮克斯风格风格，全身形象。一位6岁左右的可爱小女孩，棕色卷发扎成两个蓬松的马尾辫，发丝间夹杂着几片小树叶。圆润的脸庞，明亮的大眼睛，小巧的鼻子。娇小匀称的身材，身穿亮黄色波点连衣裙，材质为柔软的棉布，裙摆沾着些许泥土和草屑，膝盖处有轻微的磨损痕迹。脚穿红色小雨靴，左脚鞋带松散。颈间佩戴简单的木质小瓢虫项链。整体散发出天真活泼的探索气息，习惯性微微踮起脚尖，身体充满好奇的张力。",
              "type": "string"
            },
            {
              "id": "de858876-b71d-4290-8aa1-5ac20bbd84a2",
              "name": "storyboard_prompts",
              "value": "=[\n  {\n    \"prompt\": \"角色面带灿烂笑容，眼神充满好奇和兴奋，身体微微前倾，习惯性踮起脚尖（主体动态）。阳光明媚的春日花园，绿草如茵，色彩鲜艳的花朵在微风中轻轻摇曳，远处有蝴蝶飞舞（场景）。轻快地跑进花园，双手张开仿佛要拥抱整个花园，好奇地环顾四周（动作）。自然阳光照明，柔和的顶光营造温暖氛围，中远景，中心构图，标准镜头，缓慢平移镜头跟随主角移动，高饱和暖色调（美学控制）。3D皮克斯风格，圆润可爱的角色造型，明亮鲜艳的色彩，充满童趣的质感（风格化）\",\n    \"duration\": 3,\n    \"description\": \"展现小女孩初入花园的兴奋和好奇\"\n  },\n  {\n    \"prompt\": \"角色惊喜地睁大眼睛，嘴角上扬露出甜美笑容，身体蹲下，双手轻轻合拢（主体动态）。花园角落的玫瑰花丛下，发现一只漂亮的蝴蝶停在花瓣上，周围有露珠闪闪发光（场景）。小心翼翼地蹲下身子，屏住呼吸，慢慢伸出双手想要靠近蝴蝶（动作）。柔和的侧逆光勾勒出轮廓，特写镜头，低角度拍摄，85mm镜头浅景深突出蝴蝶和主角表情，静止镜头，明亮的暖色调（美学控制）。3D皮克斯风格，细腻的光影效果，生动可爱的表情动画（风格化）\",\n    \"duration\": 4,\n    \"description\": \"发现蝴蝶的惊喜时刻，展现童真和探索欲\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -96
      ],
      "id": "4a8a03a8-0087-4796-a761-ad318910e8f5",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -96
      ],
      "id": "8900300b-8b0f-400b-a67c-69895f23db63",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const story = $input.first().json.storyboard_prompts.map(item => item.prompt)\n\nconst duration = $input.first().json.storyboard_prompts.reduce((sum, item) => sum + item.duration, 0);\n\nreturn {\n  \"story\": story,\n  \"duration\": duration,\n  \"character\": $input.first().json.character\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        144
      ],
      "id": "0e7acdcb-3f9b-450f-9c94-8704a2b2fd69",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个专业的音乐配乐师，需要为动画视频创作背景音乐提示词。\n\n【输入内容】\n角色描述：{{ $json.character }}\n\n视频分镜脚本：{{ $json.story }}\n\n视频时长：{{ $json.duration }}秒\n\n【分析任务】\n第一步 - 角色分析（核心优先级）：\n   - 角色年龄段（儿童/少年/青年/成年/老年）\n   - 角色性格气质（活泼/文静/勇敢/温柔/神秘等）\n   - 角色整体感觉（童真/成熟/梦幻/严肃等）\n   - 目标受众定位（基于角色年龄和气质判断）\n\n第二步 - 故事分析：\n   - 整体情绪基调（欢快/温馨/神秘/冒险等）\n   - 视觉风格特征（皮克斯3D/手绘/写实等）\n   - 场景氛围（自然/魔法/都市/奇幻等）\n   - 情绪强度（轻松/中等/紧张）\n\n第三步 - 综合判断（角色优先原则）：\n   - 以角色年龄和气质为主导确定音乐基调\n   - 故事情节作为辅助调整音乐细节\n   - 如果角色与故事氛围有冲突，优先匹配角色特征\n   - 例如：儿童角色+悲伤故事 = 温柔但仍保持童趣感\n\n第四步 - 确定音乐方向：\n   - 选择1种主导乐器（钢琴/吉他/竖琴/长笛/大提琴/马林巴/木琴/音乐盒等）\n   - BPM范围（根据角色和情绪综合判断）\n   - 氛围关键词（2-3个形容词）\n\n【输出要求】\n生成一个英文音乐prompt，结构包括：\n- 音乐风格/类型\n- 1种主要乐器（仅限1种）\n- BPM（具体数值）\n- 氛围形容词（2-3个）\n- 其他特征（如：soft, gentle, minimal, ambient等）\n\n【核心原则】\n- 角色年龄/气质 > 故事情节：音乐必须首先匹配角色特征\n- 极简主义：只用1种乐器，保持风格统一\n- 音乐必须是纯音乐（instrumental）\n- 作为背景音乐，不喧宾夺主（subtle, understated）\n- 避免复杂编曲和激烈元素\n- 使用逗号分隔各元素\n\n## 示例\n### 输入数据\n```json\n{\n  \"character\": \"3d皮克斯风格，全身形象。一位7-8岁左右的亚洲小女孩，齐肩棕色卷发扎成两个蓬松的小丸子头，发丝间点缀着几片小树叶。圆润的脸庞，明亮的大眼睛，小巧的鼻子。娇小匀称的身材，身穿浅黄色棉麻连衣裙，裙摆印有绿色小树叶图案，材质柔软舒适，袖口和领口有轻微磨损。外搭一件深绿色小马甲，胸前口袋插着一朵小野花，脚穿棕色小皮靴，鞋带松散。整体散发出活泼好奇的气质，充满探索自然的童真气息。\",\n  \"story\": \"角色面带灿烂笑容，眼神充满好奇和期待，散发出活泼兴奋的情绪状态（主体动态）。阳光明媚的森林边缘，高大的树木投下斑驳光影，草地上点缀着各色野花，远处可见蜿蜒的小径通向密林深处（场景）。蹦蹦跳跳地向前走，时而蹲下观察地上的小昆虫，时而抬头张望四周（动作）。自然阳光透过树叶形成斑驳光影，中远景，三分法构图，人物位于画面左侧，35mm广角镜头捕捉完整环境，手持跟随镜头，温暖的高饱和色调（美学控制）。3d皮克斯风格，色彩鲜艳明亮，充满童真趣味（风格化）,角色瞪大眼睛，嘴巴微张露出惊喜表情，眼神闪烁着发现宝藏般的兴奋光芒（主体动态）。森林深处的神秘角落，一束金色阳光穿透茂密树冠照亮地面，古老的树根盘绕形成天然座椅，周围环绕着发光的小蘑菇和晶莹露珠（场景）。小心翼翼地蹲下，伸出右手轻轻触碰发光蘑菇，身体前倾充满专注（动作）。戏剧性的顶光照明形成神圣氛围，特写镜头，中心构图突出发现瞬间，50mm标准镜头浅景深背景虚化，静止镜头，金色暖色调高光（美学控制）。3d皮克斯风格，魔法森林般的梦幻质感（风格化）\",\n  \"duration\": \"60\"\n}\n```\n\n### 预期输出（基于儿童角色+探索故事，偏童趣欢快）\n```json\n{\n  \"prompt\": \"playful xylophone, 108 bpm, cheerful, bright, whimsical, lighthearted melody, minimal arrangement, instrumental background music\"\n}\n```\n\n或\n```json\n{\n  \"prompt\": \"joyful marimba, 105 bpm, playful, sunny, innocent, simple tune, gentle dynamics, ambient background music\"\n}\n```\n\n### 角色-乐器匹配参考\n| 角色类型 | 推荐乐器 | 音乐特征 |\n|---------|---------|---------|\n| 儿童角色（活泼） | Xylophone, Marimba, Glockenspiel | 明快、跳跃、童趣 |\n| 儿童角色（文静） | Music Box, Kalimba, Celesta | 温柔、梦幻、纯真 |\n| 少年角色 | Acoustic Guitar, Ukulele, Piano | 清新、轻快、成长感 |\n| 成年角色（温柔） | Harp, Flute, Acoustic Guitar | 优雅、温暖、柔和 |\n| 成年角色（严肃） | Cello, Violin, Piano | 深沉、稳重、内敛 |\n| 老年角色 | Classical Guitar, Harmonica, Piano | 怀旧、温暖、智慧 |\n| 神秘角色 | Music Box, Theremin, Celesta | 空灵、神秘、飘渺 |\n\n### BPM速度参考（结合角色年龄）\n- **儿童角色**：\n  - 活泼场景：100-115 BPM（跳跃、欢快）\n  - 安静场景：85-95 BPM（温柔、童真）\n- **少年/青年角色**：\n  - 动态场景：95-110 BPM（轻快、活力）\n  - 静态场景：75-90 BPM（抒情、柔和）\n- **成年/老年角色**：\n  - 日常场景：70-85 BPM（平稳、温暖）\n  - 紧张场景：85-100 BPM（克制、内敛）\n\n【输出格式】\n严格按照以下JSON格式输出，不要添加任何其他文字，注意生成的prompt必须使用英文：\n{\n  \"prompt\": \"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        544,
        144
      ],
      "id": "b61c2ba0-2c15-4437-be4a-4512e965199a",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        544,
        368
      ],
      "id": "f3c85815-abd2-4bd3-b70a-e36315cba005",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"prompt\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        720,
        368
      ],
      "id": "7bfe0a98-53bd-494f-b94a-e6321d1e388c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n  \"1\": {\n    \"inputs\": {\n      \"ckpt_name\": \"ace_step_v1_3.5b.safetensors\"\n    },\n    \"class_type\": \"CheckpointLoaderSimple\",\n    \"_meta\": {\n      \"title\": \"Checkpoint加载器（简易）\"\n    }\n  },\n  \"2\": {\n    \"inputs\": {\n      \"shift\": 4.000000000000001,\n      \"model\": [\n        \"1\",\n        0\n      ]\n    },\n    \"class_type\": \"ModelSamplingSD3\",\n    \"_meta\": {\n      \"title\": \"采样算法（SD3）\"\n    }\n  },\n  \"3\": {\n    \"inputs\": {\n      \"tags\": \"{{ $json.output.prompt }}\",\n      \"lyrics\": \"[inst]\",\n      \"lyrics_strength\": 1.0000000000000002,\n      \"clip\": [\n        \"1\",\n        1\n      ]\n    },\n    \"class_type\": \"TextEncodeAceStepAudio\",\n    \"_meta\": {\n      \"title\": \"TextEncodeAceStepAudio\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"conditioning\": [\n        \"3\",\n        0\n      ]\n    },\n    \"class_type\": \"ConditioningZeroOut\",\n    \"_meta\": {\n      \"title\": \"条件零化\"\n    }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"seconds\": 30,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptyAceStepLatentAudio\",\n    \"_meta\": {\n      \"title\": \"EmptyAceStepLatentAudio\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"seed\": 43761847717480,\n      \"steps\": 50,\n      \"cfg\": 4,\n      \"sampler_name\": \"res_multistep\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\n        \"2\",\n        0\n      ],\n      \"positive\": [\n        \"3\",\n        0\n      ],\n      \"negative\": [\n        \"4\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"K采样器\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"samples\": [\n        \"6\",\n        0\n      ],\n      \"vae\": [\n        \"1\",\n        2\n      ]\n    },\n    \"class_type\": \"VAEDecodeAudio\",\n    \"_meta\": {\n      \"title\": \"VAE解码（音频）\"\n    }\n  },\n  \"13\": {\n    \"inputs\": {\n      \"filename_prefix\": \"audio/ComfyUI\",\n      \"audioUI\": \"\",\n      \"audio\": [\n        \"7\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveAudio\",\n    \"_meta\": {\n      \"title\": \"保存音频\"\n    }\n  }\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        144
      ],
      "id": "a55adc22-9149-4414-8258-edb429351c4c",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        144
      ],
      "id": "0b8626c7-72a6-4c38-ad4e-f71ea7a71b8a",
      "name": "Wait",
      "webhookId": "0a4675d5-4a1b-48af-82f0-49903aa5c606"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8188/history/{{ $('HTTP Request').item.json.prompt_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        144
      ],
      "id": "ee3d71ec-e864-4a7e-b68f-c087001b58b2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95b5670e-5019-45a7-b701-08a608311038",
              "leftValue": "={{ $json.values()[0].status.status_str }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        144
      ],
      "id": "8eabdab6-083a-4993-bbdd-e09a1cae4625",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "=/root/ComfyUI/output/audio/{{ $json.values()[0].outputs['13'].audio[0].filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1872,
        128
      ],
      "id": "4e26fe7d-8db9-4a8f-8c90-fd2e68c9dc75",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('配置字段').item.json.output_folder_path }}music_{{ $now.format('yyyy-MM-dd_hh-mm-ss') }}_{{ Math.floor(Math.random() * 10000) }}.flac",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2080,
        128
      ],
      "id": "3b34f458-d4fe-4b2e-be6d-a6c72765b22a",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b56d373b-ce89-4280-bb76-745968f4d482",
              "name": "music_filepath",
              "value": "={{ $json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        128
      ],
      "id": "fb7445fd-783c-4828-960e-4c4b8159845e",
      "name": "执行结束返回字段1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T07:51:13.249Z",
      "createdAt": "2025-10-14T07:51:13.249Z",
      "role": "workflow:owner",
      "workflowId": "GMhfk9dXfKj8bheZ",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T01:24:12.501Z",
  "versionId": "0594d9f7-898e-4cc9-b934-979fb5ec8f00"
}