workflows/用户处理.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T01:21:53.928Z",
  "id": "PzRZSCX7gj4rVrYL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "用户处理",
  "nodes": [
    {
      "parameters": {
        "path": "demo",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -96
      ],
      "id": "e0137e80-1192-41bc-a5b9-46190ab0a9fc",
      "name": "Webhook",
      "webhookId": "d7916a83-9d40-48b3-932a-552af93c1b97"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        96,
        -96
      ],
      "id": "6136255e-7a53-4468-8816-93811d864af3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from user where nickname = '{{ $json.query.name }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -160,
        -96
      ],
      "id": "ff399be3-1e23-4d12-8c32-6e98406cb502",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "PU6mCncQZmaejmLf",
          "name": "192.168.206.101"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from user where nickname = '{{ $json.name }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -208,
        80
      ],
      "id": "4565b23d-c61c-4d8c-a942-88a331f0c5d4",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "PU6mCncQZmaejmLf",
          "name": "192.168.206.101"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "表单提交",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "placeholder": "请输入你的名字",
              "requiredField": true
            },
            {
              "fieldLabel": "description",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -432,
        80
      ],
      "id": "a5c1a26c-e6d4-4eb1-bb02-680fd6ec9233",
      "name": "On form submission",
      "webhookId": "e7567def-75d5-4f68-ad56-7b26e9fbe005"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "hello",
        "options": {
          "formTitle": "rrrrrr",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        208,
        80
      ],
      "id": "67cb961e-73e0-4f0f-9fe7-e9fb06c383a4",
      "name": "Form",
      "webhookId": "33a3d261-65c8-4aca-95cb-55f7617ce1a3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T01:21:53.928Z",
      "createdAt": "2025-11-18T01:21:53.928Z",
      "role": "workflow:owner",
      "workflowId": "PzRZSCX7gj4rVrYL",
      "projectId": "8mga29AruwXhf6Hz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T03:19:54.190Z",
  "versionId": "af7966ba-e1f4-4914-88c7-6f28bc0e7edc"
}