workflows/问题调查卷.json
{
  "active": true,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "拆分问题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to DOCX": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "问题答案",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "组成Markdown文章",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "问题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分问题": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "问题": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "问题答案": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组成Markdown文章": {
      "main": [
        [
          {
            "node": "Markdown to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T07:38:28.350Z",
  "id": "zrzCly6WcaIfkmEb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "问题调查卷",
  "nodes": [
    {
      "parameters": {
        "formTitle": "问卷调查",
        "formDescription": "基于公司知识库完成文档中问题",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "*.docx,*.doc",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1728,
        -832
      ],
      "id": "e9263528-eedd-41b9-9169-2fbff871ba25",
      "name": "On form submission",
      "webhookId": "c44d98f7-1a65-4e29-b512-044c62defa7a"
    },
    {
      "parameters": {
        "inputBinaryField": "File"
      },
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        -1520,
        -832
      ],
      "id": "6fc64d09-4515-4612-9f59-c022504eb1c2",
      "name": "DOCX to Text"
    },
    {
      "parameters": {
        "markdownField": "=data",
        "filename": "={{ $('On form submission').first().json.File.filename }}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-md2docx.mdToDocx",
      "typeVersion": 1,
      "position": [
        -688,
        -896
      ],
      "id": "bfe696f7-6431-4efc-b8a4-a59308a93983",
      "name": "Markdown to DOCX"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "问卷答案",
        "completionMessage": "文件已下载，请参考问卷答案",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -416,
        -896
      ],
      "id": "69bc4c2e-12d6-4b57-aa10-a4d6420941ec",
      "name": "Form",
      "webhookId": "be85a81d-cfed-46d5-887b-2054530a2a86"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional, meticulous, and efficient knowledge base Q&A assistant, dedicated to providing accurate answers to internal company questions.\nYour knowledge source is strictly limited to the MCP-specific knowledge base I provide. You must not use any external knowledge from your pre-training or engage in speculation.\n\n## Mandatory Rules\n\n1. All answers must be 100% based on the retrieved results from the knowledge base. If there is no clear answer or relevant content in the retrieval results, you must explicitly reply: \"Sorry, the current knowledge base does not contain an answer to this question. I will promptly assist you in supplementing it or forward it to the relevant responsible person.\"\n2. Fabrication, speculation, or answers based on common sense are strictly prohibited.\n3. Responses should be concise, professional, and structured, prioritizing bullet points or numbering for readability.\n4. If the user’s question is unclear, politely ask for clarification first instead of directly retrieving ambiguous content.\n5. Please answer the questions in the corresponding languages of user's questions.\n\n## Knowledge Base Tool Invocation\n\nParameters are as follows (automatically filled, no modification required):\n\n- question: {{ $json.question }}\n- dataset_ids: [\"e3b1158aca6d11f08380b6605b58b681\"]\n- document_ids: []\n\n## Response Process\n\n1. Upon receiving a user’s question, you must first invoke the MCP tool for knowledge base retrieval (unless it is clearly casual conversation or greetings).\n2. After receiving the retrieval results:\n- If specific content is referenced, naturally append \"(Source: XX document in the company knowledge base)\" at the end of the answer.\n- If there are multiple relevant pieces of content, synthesize the most accurate and up-to-date one(s) for the answer.\n- If the retrieval results are empty or completely irrelevant, reply according to Mandatory Rule 1.\n3. Keep the final answer within 300 words unless the user explicitly requests a detailed explanation.\n\nNow, please begin work. The user’s question is: {{ $json.question }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -768,
        -752
      ],
      "id": "fbd49768-0fb3-4f82-b184-2257e504c791",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Deepseek-R1-0528",
          "mode": "list",
          "cachedResultName": "Deepseek-R1-0528"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -784,
        -560
      ],
      "id": "8d56e8b1-9e36-41bf-8b22-f4b9017495e3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mCK9PJVLTNywQwqT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.206.101:9382/sse",
        "serverTransport": "sse",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "ragflow_retrieval"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -608,
        -560
      ],
      "id": "efb8031e-a41a-4421-a096-35be7b43c989",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9LEoDyuGFzPbvyJ6",
          "name": "Ragflow Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1152,
        -832
      ],
      "id": "14cf3fbe-e662-45a4-9c62-eb8135c79487",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// 方法 2：先统一把所有连续换行替换成一个不可能出现的字符，再分割\nconst text = $input.item.json.text || $input.item.json;\n\nconst cleaned = text\n  .replace(/\\n+/g, '|||SPLIT_HERE|||')   // 把所有连续换行换成特殊标记\n  .split('|||SPLIT_HERE|||')\n  .map(s => s.trim())\n  .filter(s => s.length > 0);\n\nreturn cleaned.map(part => ({ json: { question: part } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -832
      ],
      "id": "7fae3297-d0e5-4029-805f-6e375663ea0e",
      "name": "拆分问题"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64a6d723-eaf5-4e75-9dd8-8a082f782b6d",
              "name": "question",
              "value": "={{ $json.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -752
      ],
      "id": "f3fd6bdf-967e-4beb-bc95-d9224803e83a",
      "name": "问题"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10a3022b-99f0-498a-88cc-745b2c09f18a",
              "name": "question",
              "value": "={{ $('问题').item.json.question }}",
              "type": "string"
            },
            {
              "id": "1c885934-483a-4d91-97b3-6483af3529fb",
              "name": "output",
              "value": "={{ $json.output.replace(/<think>[\\s\\S]*?<\\/think>/gi, \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -752
      ],
      "id": "486b2513-59f5-4751-b5d4-807fed538153",
      "name": "问题答案"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// 一行代码搞定\nconst result = items\n  .map((item, index) => `## ${index + 1}. ${item.json.question} \\n\\n ${item.json.output}`)\n  .join('\\n');\n\nreturn [{ json: { data: result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -896
      ],
      "id": "a3ae1537-73b6-49cb-9c80-6e6f380982cb",
      "name": "组成Markdown文章"
    },
    {
      "parameters": {
        "content": "## 生成答案",
        "height": 496,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        -944
      ],
      "typeVersion": 1,
      "id": "da048d7a-5e84-40a7-a791-2831cd757628",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 问题拆分",
        "height": 496,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        -944
      ],
      "typeVersion": 1,
      "id": "411f6ca8-14a4-43de-a94c-0206bc84acf3",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ajZGT0qnfVQVsQSC"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T07:38:28.350Z",
      "createdAt": "2025-11-25T07:38:28.350Z",
      "role": "workflow:owner",
      "workflowId": "zrzCly6WcaIfkmEb",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-26T10:01:35.431Z",
  "versionId": "e19a2264-9e84-4733-beed-920ce418a054"
}