workflows/sub_flow/notify.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T09:33:50.415Z",
  "id": "QVlmex08JmZv21qT",
  "isArchived": false,
  "meta": null,
  "name": "notify",
  "nodes": [
    {
      "parameters": {
        "subject": "message",
        "emailType": "text",
        "message": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        240
      ],
      "id": "4dcd78ac-ae6b-4cca-adbd-96355b5cd6fa",
      "name": "Gmail",
      "webhookId": "806b7cc0-035f-49ab-8c37-ee6cdd52c48c"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090CRD8V4Y",
          "mode": "list",
          "cachedResultName": "所有-ai-stuff"
        },
        "text": "={{ $json.query }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        528,
        48
      ],
      "id": "54795ca3-6f09-417e-9b79-f5fee9d2ac5c",
      "name": "Slack",
      "webhookId": "b343b62e-20ee-4e42-9207-0ce18361b7a2"
    },
    {
      "parameters": {
        "content": "## 子工作流\n- 发送邮件通知\n- 发送slack通知\n- 发送telegram通知",
        "height": 640,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "18179b16-4f0b-4f68-9044-e228e8baeb8e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "text": "={{ $json.query }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        448
      ],
      "id": "f8e78ef6-28ab-47f6-a96f-6ae9b6f94bf2",
      "name": "Telegram",
      "webhookId": "02a0f9a9-8efc-4a43-99ff-69e739de8253"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        240
      ],
      "id": "6563256e-4c86-403f-b1df-31af6bd0ff17",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-16T09:33:42.315Z",
      "updatedAt": "2025-07-16T09:33:42.315Z",
      "id": "A1Y8unbtj7WzZrQb",
      "name": "sub_flow"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T09:33:50.415Z",
  "versionId": "0174aa09-dc8a-4c35-8a1d-14dfa6031295"
}