workflows/sub_flow/sub workflow.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T09:35:40.104Z",
  "id": "WKb45j2215ym5p7S",
  "isArchived": false,
  "meta": null,
  "name": "sub workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个内容创作与发布助手，擅长为指定主题生成文章，并将文章发布到多个社交平台。\n\n你可以使用一个名为 \"notify\" 的工具，它的作用是将文章内容发送到 Slack、Telegram、Gmail 等平台。\n\n当你生成好文章之后，请主动调用 notify 工具，并将完整的文章内容作为参数传递过去。不要自行模拟发送过程，务必使用工具来完成发送。",
        "options": {
          "systemMessage": "=以 {{ $json.query }} 为主题，生成一篇文章，要求如下：\n\n1. 字数控制在 300 ~ 500 字之间  \n2. 包含标题（使用 H2 格式）和正文部分（分段排版）\n3. 完成后，请调用 notify 工具，将整篇文章发送到社交媒体平台\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        480,
        64
      ],
      "id": "72de25a9-c974-4e82-84f5-b71154630ee5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "formTitle": "话题",
        "formDescription": "输入话题生成文章",
        "formFields": {
          "values": [
            {
              "fieldLabel": "query",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        128,
        288
      ],
      "id": "2510793b-25ef-4bbc-85ae-123bc8d5167b",
      "name": "On form submission",
      "webhookId": "bb2b8ecd-dcfe-4d82-8f30-7f5a2a5baaea"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "id": "8d928413-8c4f-4d9a-b677-d8875d6af324",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QVlmex08JmZv21qT",
          "mode": "list",
          "cachedResultName": "notify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        240
      ],
      "id": "8c930efd-e118-4720-a917-5d17a3c85af0",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IQXVdIy9lRQ0YgBX",
          "mode": "list",
          "cachedResultName": "notify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        512
      ],
      "id": "00ba10a9-5df5-4d70-aa8a-3d394b4efe0c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "content": "## 模块化\n\n调用子工作流",
        "height": 700,
        "width": 1020,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "6418e00b-463c-4ebb-a441-d60937dc8bc6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-16T09:33:42.315Z",
      "updatedAt": "2025-07-16T09:33:42.315Z",
      "id": "A1Y8unbtj7WzZrQb",
      "name": "sub_flow"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T09:38:25.220Z",
  "versionId": "698a1fe3-f896-40e0-ab1b-ae96afbf7140"
}