workflows/error/error-test.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T09:02:41.311Z",
  "id": "Q632AbzYePckD0iv",
  "isArchived": false,
  "meta": null,
  "name": "error-test",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.myUrls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        208
      ],
      "id": "f828aecd-3ff5-4229-a897-87b9315fc7d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 手动填写 URL 列表\nconst myUrls = [\n  \"https://docs.n8n.io/hosting/\",\n  \"https://example.com/page2\",\n  \"https://docs.n8n.io/code/\"\n];\n\n// 返回一个 item，其中包含变量名 myUrls\nreturn [\n  {\n    json: {\n      myUrls: myUrls\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        160
      ],
      "id": "a5cfbc7f-f494-4bf4-8c22-878427681249",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "myUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "id": "bab4da57-30b7-4f8e-9d63-ee370aebf175",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        160
      ],
      "id": "9c3ae5f8-c6f8-4937-98a8-37c92e63aefd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        208
      ],
      "id": "ab79f6eb-b8d5-413e-b1da-58c5df8dc662",
      "name": "Wait",
      "webhookId": "e269c5d0-df55-49e5-a5b0-fa6371e2a05b"
    },
    {
      "parameters": {
        "content": "## 错误处理测试\n",
        "height": 480,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e5f69189-40c2-4798-b920-2b633664676a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        160
      ],
      "id": "1d4d34f5-f277-4c5b-9b12-a75617240858",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ajZGT0qnfVQVsQSC"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-16T08:49:51.917Z",
      "updatedAt": "2025-07-16T08:49:51.917Z",
      "id": "T1O10rfbvcFAVqMw",
      "name": "error"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-16T09:06:31.638Z",
  "versionId": "b6f2c065-aefe-4796-946d-0b3c3157854f"
}