workflows/om/OMM.json
{
  "active": false,
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute Shell Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute Shell Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Shell Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-15T06:11:54.912Z",
  "id": "o0950qNYcXdXSnxX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OMM",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "# 角色\n你是一位服务器运维专家，精通Shell命令的编写和执行。你的主要任务是根据用户的需求理解其意图，并生成相应的Shell命令。你可以调用Shell命令执行工具来运行这些命令，并以Markdown格式优化展示命令的执行结果。\n\n## 技能\n### 技能 1: 理解用户需求\n- 准确理解用户的意图和需求。\n- 确认用户的具体要求和目标。\n\n### 技能 2: 编写Shell命令\n- 根据用户的需求编写高效的Shell命令。\n- 确保命令的正确性和安全性。\n\n### 技能 3: 执行Shell命令\n- 调用Shell命令执行工具来运行生成的命令。\n- 捕获命令的输出结果\n\n### 技能 4: 优化结果展示\n- 使用Markdown格式优化展示命令的执行结果。\n- 确保结果清晰易读，包含必要的解释和说明。\n\n## 限制\n- 只回答与服务器运维和Shell命令相关的问题。\n- 在编写Shell命令时，确保代码的安全性和可读性。\n- 命令执行结果必须以Markdown格式展示，包含必要的解释和说明。\n- 如果命令执行过程中出现错误或异常，需要提供详细的错误信息和可能的解决方案。\n- 不得执行任何可能对系统造成损害的命令。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "04713337-36ec-42df-88fc-67d75b55264d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "b8e65d9e-44cc-4d59-8460-0f83f0f46396",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "2SXDvVt9uFwfTnQm",
          "name": "DeepSeek n8n Account"
        }
      }
    },
    {
      "parameters": {
        "description": "如需执行shell脚本，shell命令，请调用该工具。",
        "workflowId": {
          "__rl": true,
          "value": "HlQNbyzp8YNuwzjS",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        432,
        192
      ],
      "id": "3dc140d5-da05-467d-9ea1-496239ef3efa",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        192
      ],
      "id": "2983c644-d1ba-4319-825d-9afb704d8a56",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        816,
        -16
      ],
      "id": "3ce8a7c7-0cad-4a77-8ba2-3d554c0f0163",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        832,
        208
      ],
      "id": "be2f56ee-4a48-45f9-8e72-dc721c18d045",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2375594d-a339-4ce6-b959-1a2cf48f62d7",
      "name": "When chat message received",
      "webhookId": "c0ca1da1-f945-416e-8ab2-7f94f9de083d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e894c63-62ed-4987-aa42-99f0f400777e",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "1b648a47-19bb-4605-8f75-f7bd378180b9",
              "name": "code",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "911872dc-fa6c-43a8-b89d-9360bea77b61",
              "name": "stderr",
              "value": "={{ $json.stderr }}",
              "type": "string"
            },
            {
              "id": "0634a0f7-36cb-4fa7-9883-0cd8330f46af",
              "name": "signal",
              "value": "={{ $json.signal }}",
              "type": "string"
            },
            {
              "id": "70553990-5bc1-4ae7-8376-49c3c6b089af",
              "name": "user",
              "value": "root",
              "type": "string"
            },
            {
              "id": "dbbbcf37-cddc-4569-93de-c563c2b4f2ae",
              "name": "ip",
              "value": "192.168.206.102",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        112
      ],
      "id": "03e36baa-dc9c-4505-86b5-e91895f7c43e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "credentialsId": "0tYtW3ocJLQkztbu",
        "nodeJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"command\": \"={{ $json.query.replaceAll(\"\\\"\",\"\\\\\\\"\") }}\"\n      },\n      \"type\": \"n8n-nodes-base.ssh\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -220,\n        -180\n      ],\n      \"id\": \"0f2fb165-5385-44e6-8001-3ec19a3eea3b\",\n      \"name\": \"SSH\",\n      \"credentials\": {\n        \"sshPassword\": {\n          \"id\": \"MFd4CMtYaVJu7cS1\",\n          \"name\": \"SSH Password account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {},\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"1f2dc4ed5f3bd47e1303ee041c081c8c9b55745c5ad108a0ffdb8380881ca098\"\n  }\n}"
      },
      "type": "n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX",
      "typeVersion": 1,
      "position": [
        992,
        112
      ],
      "id": "82077d66-7285-44da-8cf4-0d4a42bc5f71",
      "name": "Execute Shell Command"
    },
    {
      "parameters": {
        "content": "## 运维小助手 - 主流程(生成shell命令)\n**基本逻辑** 主要用于生成脚本，然后去远程服务器上执行，可行的方案，如周期性密码变更，以及上传至minio上,稍晚点实现. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 528,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -128
      ],
      "typeVersion": 1,
      "id": "586ef1de-5335-4647-9d5a-1c0f04dcd8c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 运维小助手 - 子流程(执行命令)\n**基本逻辑** 主要用于生成脚本，然后去远程服务器上执行，可行的方案，如周期性密码变更，以及上传至minio上,稍晚点实现. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 528,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -128
      ],
      "typeVersion": 1,
      "id": "8e07b11a-4fb3-4748-92af-80d48f18df7d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "query": " df -h | awk 'NR>1 && $5+0 > 20 {print $1 \" \" $5}' "
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-16T09:45:18.412Z",
      "updatedAt": "2025-07-16T09:45:18.412Z",
      "id": "1ypqHTS1b78KLvPw",
      "name": "om"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T09:45:26.441Z",
  "versionId": "b455c882-ed62-4134-bd25-2fcddaa559ae"
}