workflows/om/Script Execution.json
{
  "active": true,
  "connections": {
    "Execute Shell Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Add ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "modify json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "upload scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modify json": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload scripts": {
      "main": [
        [
          {
            "node": "Execute Shell Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add ID": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T01:48:59.439Z",
  "id": "Hrcn4nMrD5yZrLte",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Script Execution",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b648a47-19bb-4605-8f75-f7bd378180b9",
              "name": "code",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "dbbbcf37-cddc-4569-93de-c563c2b4f2ae",
              "name": "ip",
              "value": "={{ JSON.stringify($('Loop Over Items').item.json) }} ",
              "type": "string"
            },
            {
              "id": "0e894c63-62ed-4987-aa42-99f0f400777e",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "911872dc-fa6c-43a8-b89d-9360bea77b61",
              "name": "stderr",
              "value": "={{ $json.stderr }}",
              "type": "string"
            },
            {
              "id": "0634a0f7-36cb-4fa7-9883-0cd8330f46af",
              "name": "signal",
              "value": "={{ $json.signal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        112
      ],
      "id": "9921ad76-a38e-4328-8f07-d03ea70dd683",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "credentialsId": "={{ $('Add ID').item.json.id }}",
        "nodeJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"command\": \"=sh /tmp/{{ $('Add ID').item.json.filename }} && rm -rf {{ $('Add ID').item.json.filename }}  \"\n      },\n      \"type\": \"n8n-nodes-base.ssh\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -220,\n        -180\n      ],\n      \"id\": \"0f2fb165-5385-44e6-8001-3ec19a3eea3b\",\n      \"name\": \"SSH\",\n      \"credentials\": {\n        \"sshPassword\": {\n          \"id\": \"MFd4CMtYaVJu7cS1\",\n          \"name\": \"SSH Password account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {},\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"1f2dc4ed5f3bd47e1303ee041c081c8c9b55745c5ad108a0ffdb8380881ca098\"\n  }\n}"
      },
      "type": "n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX",
      "typeVersion": 1,
      "position": [
        976,
        112
      ],
      "id": "0084ea49-6635-4de3-916a-545ba27d1202",
      "name": "Execute Shell Command"
    },
    {
      "parameters": {
        "content": "## 服务器运维工程师 - 子流程(执行命令)\n**基本逻辑** code节点和触发节点，可以很方面的产生想要的数据. 还需要对错误继续处理。 同时还要对异常能捕获。生成的操作excel，上传minio.",
        "height": 624,
        "width": 1936
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -208
      ],
      "typeVersion": 1,
      "id": "0d545636-28f3-4586-a1c0-0948df93504f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        -64
      ],
      "id": "02eb8a1b-6674-4e5f-acbd-c3b1e49282b2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id from credentials_entity where type = 'sshPassword' and name = '{{ $('Loop Over Items').item.json.name }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        112
      ],
      "id": "493151cc-d4ac-490a-941a-4fb3313fbdaa",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "DERl7pj5RzIxVGI6",
          "name": "N8N Postgres"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-shell",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -64
      ],
      "id": "00c44fe5-c91f-4bc6-9cf6-520f6bd43f12",
      "name": "Webhook",
      "webhookId": "a0031c56-efbd-4b42-83bd-8140398c7cdc"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        -80
      ],
      "id": "b3379fee-7ba2-487b-9554-871407141c92",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=body.ips",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        -64
      ],
      "id": "659b97ca-59f1-46b4-af1e-8ec3d5e6a43c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d4898e6-372d-4567-ace1-cf353df8b719",
              "name": "code",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "2ee6de37-b98c-41e3-b1cd-7b7fd01c8cf3",
              "name": "ip",
              "value": "={{ $json.ip.match(/\\b(?:\\d{1,3}\\.){3}\\d{1,3}\\b/g)[0] }}",
              "type": "string"
            },
            {
              "id": "a26c16d6-b76b-4d22-b113-d2d197e69577",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "9805dd2d-0347-4e55-b994-a19fdea08fb6",
              "name": "stderr",
              "value": "={{ $json.stderr }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -80
      ],
      "id": "9175d4fc-f372-443b-a8a2-43f5406e1032",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=scripts",
        "options": {
          "fileName": "={{ $json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        640,
        112
      ],
      "id": "91924eb3-ff9d-46ec-aa2e-7e9f550434cf",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc89ad59-c621-4887-b3f9-e7cdaf4a9747",
              "name": "name",
              "value": "=root@{{ $json['body.ips'] }}",
              "type": "string"
            },
            {
              "id": "d30b03b4-e126-434a-8444-fcedd73b998c",
              "name": "scripts",
              "value": "={{ $('Webhook').item.json.body.command }}",
              "type": "string"
            },
            {
              "id": "78390226-58d4-4235-b1ae-dcdab23de0e1",
              "name": "filename",
              "value": "=n8n{{ $now.format('yyyyMMddhhmmss') }}.sh",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -64
      ],
      "id": "6c4c7b7b-bf4f-4892-a9b5-5c61b94b1245",
      "name": "modify json"
    },
    {
      "parameters": {
        "credentialsId": "={{ $('Add ID').item.json.id }}",
        "nodeJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"resource\": \"file\",\n        \"path\": \"/tmp\",\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.ssh\",\n      \"typeVersion\": 1,\n      \"position\": [\n        1216,\n        336\n      ],\n      \"id\": \"ea8c8e25-2ff0-43ee-9c48-5d7735d3c476\",\n      \"name\": \"Upload a script\",\n      \"credentials\": {\n        \"sshPassword\": {\n          \"id\": \"0tYtW3ocJLQkztbu\",\n          \"name\": \"root@192.168.206.100\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"Upload a script\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"f2af1181b2e3829cab42a06faed5709acba1b21cdd583fb4edba529b1151ebf2\"\n  }\n}"
      },
      "type": "n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX",
      "typeVersion": 1,
      "position": [
        800,
        112
      ],
      "id": "8a47812e-a26a-44c3-b39f-f35c40079f72",
      "name": "upload scripts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c6cc1a9-addc-4ad6-a7b5-81605d7697cd",
              "name": "name",
              "value": "={{ $('Loop Over Items').item.json.name }}",
              "type": "string"
            },
            {
              "id": "e85cff77-f2fd-41c2-9eee-a329d519e105",
              "name": "scripts",
              "value": "={{ $('Loop Over Items').item.json.scripts }}",
              "type": "string"
            },
            {
              "id": "652bcb8a-ad82-4a1c-ba60-2319f3866c2f",
              "name": "filename",
              "value": "={{ $('Loop Over Items').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "0311a393-81bd-4d57-8b9b-c7321c9a157b",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        112
      ],
      "id": "bbed68e0-39b5-4467-abd6-e239fb637b5d",
      "name": "Add ID"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "192.168.116.184",
            "host": "n8n.example.com",
            "x-forwarded-proto": "https",
            "x-real-ip": "192.168.116.184",
            "connection": "close",
            "content-length": "109",
            "sec-ch-ua": "\"Google Chrome\";v=\"117\", \"Not;A=Brand\";v=\"8\", \"Chromium\";v=\"117\"",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-ch-ua-mobile": "?0",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36",
            "content-type": "application/json",
            "accept": "*/*",
            "origin": "http://localhost:3500",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:3500/",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en,zh-CN;q=0.9,zh;q=0.8,en-US;q=0.7"
          },
          "params": {},
          "query": {},
          "body": {
            "command": "docker ps --format \"{{.Names}}\"",
            "ips": [
              "192.168.206.100",
              "192.168.206.101",
              "192.168.206.102"
            ]
          },
          "webhookUrl": "https://n8n.example.com/webhook/execute-shell",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ajZGT0qnfVQVsQSC"
  },
  "shared": [
    {
      "updatedAt": "2025-08-29T01:48:59.439Z",
      "createdAt": "2025-08-29T01:48:59.439Z",
      "role": "workflow:owner",
      "workflowId": "Hrcn4nMrD5yZrLte",
      "projectId": "AjKOXkiVfZaaIF4c"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-07-16T09:45:18.412Z",
      "createdAt": "2025-07-16T09:45:18.412Z",
      "id": "1ypqHTS1b78KLvPw",
      "name": "om"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-02T07:33:15.772Z",
  "versionId": "2b3ac8e5-ba7e-4003-a399-56a32e6ba894"
}